<% content_for(:title, "All Seasons / #{@oauth_account}") %>

<% content_for(:breadcrumb) do %>
  <%= account_switcher(@oauth_account) %> / <%= season_switcher(:all) %>
<% end %>

<% if @active_seasons.any? %>
  <p>
    <span class="text-bold">Active in seasons:</span>
    <%= @active_seasons.map(&:to_s).join(', ') %>
  </p>
<% end %>

<p>
  <span class="text-bold">Matches logged:</span>
  <%= number_with_delimiter @total_matches %>
  &mdash;
  <span class="text-green">
    <span class="text-bold">
      <%= number_with_delimiter @total_wins %>
    </span>
    <%= 'win'.pluralize(@total_wins) %>
  </span>
  &middot;
  <span class="text-red">
    <span class="text-bold">
      <%= number_with_delimiter @total_losses %>
    </span>
    <%= 'loss'.pluralize(@total_losses) %>
  </span>
  &middot;
  <span class="text-orange">
    <span class="text-bold">
      <%= number_with_delimiter @total_draws %>
    </span>
    <%= 'draw'.pluralize(@total_draws) %>
  </span>
  &mdash;
  <%= @win_percent %>% win percentage
</p>

<% if @heroes.any? %>
  <p class="d-flex flex-items-center">
    <span class="text-bold mr-2 d-inline-block">Heroes played:</span>
    <% @heroes.each do |hero| %>
      <span class="tooltipped tooltipped-n mr-2 d-inline-block" aria-label="<%= hero.name %>">
        <%= image_tag("heroes/#{hero.slug}.png", alt: hero.name, class: 'rounded-1 hero-portrait d-inline-block', width: 30, height: 30) %>
      </span>
    <% end %>
  </p>
<% end %>

<% if @friends.any? %>
  <h2 class="h3 text-normal mt-4 mb-2">Group Members</h2>
  <p>
    <span class="text-bold">Grouped with:</span>
    <%= @friends.join(', ') %>
  </p>

  <p>
    <span class="text-bold">Most frequently grouped with:</span>
    <%= @most_frequent_friends.join(', ') %>
  </p>
<% end %>
