<% content_for(:title, "All Seasons / #{@oauth_account}") %>

<% content_for(:breadcrumb) do %>
  <%= account_switcher(@oauth_account) %> / <%= season_switcher(:all) %>
<% end %>

<div class="clearfix">
  <div class="col-md-6 pr-4-md float-md-left">
    <% if @active_seasons.any? %>
      <div class="mb-4">
        <span class="text-bold">Active in seasons:</span>
        <%= @active_seasons.map(&:to_s).join(', ') %>
      </div>
    <% end %>

    <% if @lowest_sr && @highest_sr %>
      <table class="mb-4">
        <tbody>
          <tr>
            <th rowspan="2" class="pr-2">SR range:</th>
            <td class="pr-2 pb-1 text-center"><%= @lowest_sr %></td>
            <td rowspan="2" class="pr-2">&ndash;</td>
            <td class="pb-1 text-center"><%= @highest_sr %></td>
          </tr>
          <tr>
            <td class="pr-2 text-center"><%= rank_image(@lowest_sr) %></td>
            <td class="text-center"><%= rank_image(@highest_sr) %></td>
          </tr>
        </tbody>
      </table>
    <% end %>

    <%= render partial: 'matches/matches_logged',
               locals: { total_matches: @total_matches, total_wins: @total_wins,
                         total_losses: @total_losses, total_draws: @total_draws } %>

    <% if @match_counts_by_hero.any? %>
      <div class="mb-4">
        <div class="text-bold mb-1">Heroes played:</div>
        <div>
          <% @match_counts_by_hero.each do |hero, match_count| %>
            <div aria-label="<%= pluralize(match_count, 'match') %>" class="tooltipped tooltipped-s d-flex flex-items-center mb-1">
              <%= image_tag("heroes/#{hero.slug}.png", alt: hero.name, class: 'flex-shrink-0 rounded-2 d-inline-block mr-2 hero-portrait', width: 30, height: 30) %>
              <span class="d-inline-block hero-name text-bold mr-2"><%= hero %></span>
              <span class="hero-bar-container d-inline-block">
                <span class="hero-bar hero-bar-<%= hero.slug %> d-inline-block rounded-2" style="width: <%= hero_bar_width(match_count, @max_hero_match_count, @total_matches) %>%"></span>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @friends.any? %>
    <div class="col-md-6 float-md-left">
      <h2 class="h3 text-normal mt-0 mb-2">Group Members</h2>
      <div class="mb-4">
        <span class="text-bold">Grouped with:</span>
        <%= @friends.join(', ') %>
      </div>

      <div class="mb-4 d-flex flex-items-center">
        <span class="ion-ios-people mr-3 ion f1 text-gray"></span>
        <div>
          <span class="text-bold">Most frequently grouped with:</span>
          <%= @most_frequent_friends.join(', ') %>
          with <%= pluralize(@most_frequent_match_count, 'match') %>
        </div>
      </div>

      <% if @most_winning_friends.any? %>
        <div class="mb-4">
          <div class="d-flex flex-items-center">
            <span class="ion-trophy mr-3 ion f1 text-gray"></span>
            <div>
              <span class="text-bold">Highest win percentage:</span>
              <% @most_winning_friends.each do |name| %>
                <div>
                  <%= name %> &middot;
                  <span class="text-gray">
                    <%= @win_rates_by_friend[name] %>% with
                    <%= number_with_delimiter @match_counts_by_friend[name] %> <%= 'game'.pluralize(@match_counts_by_friend[name]) %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
          <p class="note mb-0">
            *Players with whom you had the highest win percentage after playing more than one match
          </p>
        </div>
      <% end %>

      <% if @most_losing_friends.any? %>
        <div class="mb-4">
          <div class="d-flex flex-items-center">
            <span class="ion-heart-broken mr-3 ion f1 text-gray"></span>
            <div>
              <span class="text-bold">Lowest win percentage:</span>
              <% @most_losing_friends.each do |name| %>
                <div>
                  <%= name %> &middot;
                  <span class="text-gray">
                    <%= @win_rates_by_friend[name] %>% with
                    <%= number_with_delimiter @match_counts_by_friend[name] %> <%= 'game'.pluralize(@match_counts_by_friend[name]) %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
          <p class="note mb-0">
            *Players with whom you had the lowest win percentage after playing more than one match
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
