<% content_for(:title, 'Admin / Accounts') %>

<% content_for(:breadcrumb) do %>
  <a href="<%= admin_path %>">Admin</a> / Accounts
<% end %>

<%= form_tag admin_accounts_path, method: :get, class: 'mb-4' do %>
  <label for="account-search" class="mr-2">Search accounts:</label>
  <input type="search" name="q" value="<%= @query %>" class="form-control" placeholder="Search by battletag" id="account-search">
  <% if @query.present? || @filtered %>
    <a href="<%= admin_accounts_path %>" class="text-small d-inline-block ml-2">Clear</a>
  <% end %>
<% end %>

<ul class="list-style-none mb-4">
  <% if @accounts.empty? %>
    <li>
      No accounts to show
    </li>
  <% end %>
  <% @accounts.each_with_index do |account, i| %>
    <li class="<%= 'border-top mt-2 pt-2' if i > 0 %>">
      <%= admin_link_to_account(account) %>
      <% if account.rank %>
        <span class="d-inline-block mx-2">&middot;</span>
        <%= rank_image(account.rank, classes: 'flex-shrink-0 rank-fit-height',
                       outer_classes: 'flex-shrink-0') %>
        <%= account.rank %>
      <% end %>
      <div class="note">
        <% if account.admin? %>
          <span class="text-bold text-red">Admin</span>
          <span class="d-inline-block mx-2">&middot;</span>
        <% end %>
        <%= account.region_name %> / <%= account.platform_name %>
        <% if account.level %>
          <span class="d-inline-block mx-2">&middot;</span>
          Level <%= number_with_delimiter account.level %>
        <% end %>
        <span class="d-inline-block mx-2">&middot;</span>
        <span class="tooltipped tooltipped-s" aria-label="<%= pretty_datetime account.created_at %>">
          Signed up
          <%= time_ago_in_words account.created_at %> ago
        </span>
      </div>
    </li>
  <% end %>
</ul>

<% if @accounts.total_pages > 1 %>
  <div class="my-4">
    <%= page_entries_info @accounts %>
    <%= will_paginate @accounts %>
  </div>
<% end %>

<% if @deletable_accounts.any? %>
  <div class="clearfix">
    <div class="col-md-6 mb-4 float-left">
      <h2 class="h2 mb-2">Deletable accounts</h2>
      <ul class="list-style-none test-deletable-accounts">
        <% @deletable_accounts.each_with_index do |account, i| %>
          <li class="<%= 'border-top mt-2 pt-2' if i > 0 %>">
            <%= link_to_account(account) %>
          </li>
        <% end %>
      </ul>
      <%= form_tag admin_prune_accounts_path, method: :delete do %>
        <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to delete these accounts? They don't have any matches logged.">
          Prune old accounts
        </button>
      <% end %>
    </div>
  </div>
<% end %>

<% if @userless_accounts.any? %>
  <div class="clearfix mb-4">
    <div class="col-md-6 mb-4 float-left">
      <h2 class="h2 mb-2">Accounts without users</h2>
      <ul class="list-style-none test-userless-accounts">
        <% @userless_accounts.each do |account| %>
          <li><%= link_to_account(account) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6 mb-4 float-left">
      <div class="border border-red ml-4-md p-3 rounded-2">
        <h2 class="h2 mb-2">Tie account to a user</h2>
        <%= form_tag admin_update_account_path do %>
          <div class="form-group mt-0">
            <label for="user_id">User:</label>
            <%= select_tag :user_id, options_for_select(@user_options), class: 'form-select', required: true %>
          </div>
          <div class="form-group">
            <label for="account_id">Account:</label>
            <%= select_tag :account_id, options_for_select(@userless_account_options), class: 'form-select', required: true %>
          </div>
          <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to connect the account to the user?">
            Connect account to user
          </button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @avatarless_accounts.any? %>
  <div class="clearfix">
    <div class="col-md-6 float-left">
      <h2 class="h2 mb-2">Accounts without avatars</h2>
      <%= form_tag admin_update_account_profile_path, method: :put do %>
        <div class="form-group mt-0">
          <label for="account_id_select">Choose an account:</label>
          <select id="account_id_select" name="id" required class="form-select">
            <% @avatarless_accounts.each do |account| %>
              <option value="<%= account.id %>"><%= account %></option>
            <% end %>
          </select>
        </div>
        <button type="submit" class="btn">
          Fetch profile
        </button>
      <% end %>
    </div>
  </div>
<% end %>
