<% content_for(:title, "Admin / Accounts / #{@account}") %>

<% content_for(:breadcrumb) do %>
  <div class="d-flex-md flex-items-center-md flex-justify-between-md">
    <div>
      <a href="<%= admin_path %>">Admin</a> /
      <a href="<%= admin_accounts_path %>">Accounts</a> /
      <%= @account %>
    </div>
    <div>
      <a href="<%= profile_path(@account) %>">View profile</a>
    </div>
  </div>
<% end %>

<div class="clearfix">
  <div class="col-md-6 float-left">
    <dl>
      <dd class="mb-2"><strong>ID:</strong> <%= @account.id %></dd>
      <dd class="mb-2"><strong>Battletag:</strong> <%= @account.battletag %></dd>
      <dd class="mb-2"><strong>User:</strong> <%= @account.user %></dd>
      <dd class="mb-2">
        <strong>Default account?</strong>
        <%= @account.default? ? 'yes' : 'no' %>
      </dd>
      <dt class="mb-1">Linked accounts</dt>
      <dd class="mb-2">
        <% if @linked_accounts && @linked_accounts.any? %>
          <ul>
            <% @linked_accounts.each_with_index do |other_account, i| %>
              <li class="ml-4 <%= 'mt-1' if i > 0 %>">
                <%= admin_link_to_account(other_account) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          &mdash;
        <% end %>
      </dd>
      <dd class="mb-2">
        <strong>Match count:</strong>
        <%= number_with_delimiter @total_matches %>
        <%= 'match'.pluralize(@total_matches) %>
      </dd>
      <dd class="mb-2">
        <strong>Shared season count:</strong>
        <%= number_with_delimiter @total_season_shares %>
        shared <%= 'season'.pluralize(@total_season_shares) %>
      </dd>
      <dt class="mb-1">Rank</dt>
      <dd class="mb-2 d-flex flex-items-center">
        <% if @account.rank %>
          <%= rank_image(@account.rank, classes: 'd-inline-block mr-1 flex-shrink-0') %>
          <%= @account.rank %>
        <% else %>
          <%= form_tag admin_update_account_profile_path, method: :put do %>
            <input type="hidden" name="id" value="<%= @account.id %>">
            <button type="submit" class="btn">
              Fetch rank
            </button>
          <% end %>
        <% end %>
      </dd>
      <dd class="mb-2 <%= 'text-red text-bold' if @account.admin? %>">
        <strong>Administrator?</strong>
        <%= @account.admin? ? 'yes' : 'no' %>
      </dd>
      <dd class="mb-2"><strong>Platform:</strong> <%= @account.platform_name %></dd>
    </dl>
  </div>
  <div class="col-md-6 float-left">
    <dl>
      <% unless @account.level %>
        <dt class="mb-1">Level</dt>
      <% end %>
      <dd class="mb-2">
        <% if @account.level %>
          <strong>Level:</strong>
          <%= number_with_delimiter @account.level %>
        <% else %>
          <%= form_tag admin_update_account_profile_path, method: :put do %>
            <input type="hidden" name="id" value="<%= @account.id %>">
            <button type="submit" class="btn">
              Fetch level
            </button>
          <% end %>
        <% end %>
      </dd>
      <dt class="mb-1">Level URL</dt>
      <dd class="mb-2 Box p-2 wb-break-all">
        <% if @account.level_url %>
          <div><code><%= @account.level_url %></code></div>
          <a href="<%= @account.level_url %>">
            <img width="100" height="100" src="<%= @account.level_url %>" alt="Level <%= @account.level %>">
          </a>
        <% else %>
          <%= form_tag admin_update_account_profile_path, method: :put do %>
            <input type="hidden" name="id" value="<%= @account.id %>">
            <button type="submit" class="btn">
              Fetch level URL
            </button>
          <% end %>
        <% end %>
      </dd>
      <dt class="mb-1">Avatar URL</dt>
      <dd class="mb-2 Box p-2 wb-break-all">
        <% if @account.avatar_url %>
          <div><code><%= @account.avatar_url %></code></div>
          <a href="<%= @account.avatar_url %>">
            <%= image_tag(@account.avatar_url, class: 'avatar', width: 60) %>
          </a>
        <% else %>
          <%= form_tag admin_update_account_profile_path, method: :put do %>
            <input type="hidden" name="id" value="<%= @account.id %>">
            <button type="submit" class="btn">
              Fetch avatar URL
            </button>
          <% end %>
        <% end %>
      </dd>
      <dt class="mb-1">Signed up</dt>
      <dd class="mb-2">
        <%= pretty_datetime @account.created_at %>
        <span class="d-inline-block ml-2 text-small text-gray"><%= time_ago_in_words @account.created_at %> ago</span>
      </dd>
      <dt class="mb-1">Last updated</dt>
      <dd class="mb-2">
        <%= pretty_datetime @account.updated_at %>
        <span class="d-inline-block ml-2 text-small text-gray"><%= time_ago_in_words @account.updated_at %> ago</span>
        <% if @account.out_of_date? %>
          <div class="note">Out of date</div>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
