<h2 class="h2 mb-2">All users</h2>
<ul class="list-style-none mb-4">
  <% users.each_with_index do |user, i| %>
    <%
      accounts_for_user = oauth_accounts_by_user_id[user.id] || []
      friend_count = (friends_by_user_id[user.id] || []).size
    %>
    <li class="<%= 'border-top mt-2 pt-2' if i > 0 %>">
      <h3 class="h4">
        <%= user %>
        <span class="text-gray h5 text-normal">
          &mdash;
          <%= number_with_delimiter friend_count %>
          <%= 'friend'.pluralize(friend_count) %>
        </span>
      </h3>
      <ol class="oauth-accounts-list">
        <% if accounts_for_user.empty? %>
          <li>
            <em>No accounts</em>
          </li>
        <% end %>
        <% accounts_for_user.each do |oauth_account| %>
          <%
            account_matches = matches_by_oauth_account_id[oauth_account.id] || []
            match_count = account_matches.size
            details_class = if match_count > 0
              "account-#{oauth_account.id}"
            end
          %>
          <li>
            <%= oauth_account %>
            <% if details_class %>
              <span class="d-inline-block mx-2">&middot;</span>
              <button type="button" class="btn-link js-toggle-details" data-target=".<%= details_class %>">
                <%= number_with_delimiter match_count %>
                <%= 'match'.pluralize(match_count) %>
              </button>
            <% end %>

            <div class="<%= details_class %> d-none mb-2">
              <% seasons.each do |season| %>
                <% season_match_count = account_matches.select { |match| match.season == season.number }.size %>
                <div>
                  <span class="text-bold">Season <%= season %></span> &mdash;
                  <%= number_with_delimiter season_match_count %>
                  <%= 'match'.pluralize(season_match_count) %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ul>

<% if users.total_pages > 1 %>
  <div class="my-4">
    <%= page_entries_info users %>
    <%= will_paginate users, page_links: false %>
  </div>
<% end %>
