<% content_for(:title, 'Admin') %>

<div class="blankslate clearfix mb-4 p-3">
  <div class="col-md-4 float-left">
    <ul class="list-style-none">
      <li>
        <strong><%= number_with_delimiter @active_users.size %></strong>
        <%= 'active user'.pluralize(@active_users.size) %>
      </li>
      <li>
        <strong><%= number_with_delimiter @users.total_entries %></strong>
        <%= 'user'.pluralize(@users.total_entries) %>
      </li>
    </ul>
  </div>
  <div class="col-md-4 float-left">
    <ul class="list-style-none">
      <li>
        <strong><%= number_with_delimiter @oauth_account_count %></strong>
        <%= 'account'.pluralize(@oauth_account_count) %>
      </li>
      <li>
        <strong><%= number_with_delimiter @match_count %></strong>
        <%= 'match'.pluralize(@match_count) %>
      </li>
    </ul>
  </div>
  <div class="col-md-4 float-left">
    <ul class="list-style-none">
      <li>
        <strong><%= number_with_delimiter @friend_count %></strong>
        <%= 'friend'.pluralize(@friend_count) %>
      </li>
      <li>
        <strong><%= number_with_delimiter @season_share_count %></strong>
        <%= 'shared season'.pluralize(@season_share_count) %>
      </li>
    </ul>
  </div>
</div>

<div class="clearfix mb-4">
  <div class="col-md-6 float-left">
    <div class="mr-4">
      <%= render partial: 'admin/users',
                 locals: { users: @users, active_users: @active_users,
                           oauth_accounts_by_user_id: @oauth_accounts_by_user_id,
                           friends_by_user_id: @friends_by_user_id, seasons: @seasons,
                           matches_by_oauth_account_id: @matches_by_oauth_account_id } %>
    </div>
  </div>

  <div class="col-md-6 float-left">
    <div class="ml-4">
      <%= render partial: 'admin/seasons',
                 locals: { new_season: @new_season, seasons: @seasons } %>
    </div>
  </div>
</div>

<% if @userless_accounts.any? %>
  <hr>

  <h2 class="h2 mb-2">Accounts without users</h2>
  <ul class="list-style-none">
    <% @userless_accounts.each do |oauth_account| %>
      <li><%= oauth_account %></li>
    <% end %>
  </ul>
<% end %>

<hr>

<div class="mt-4 clearfix">
  <% if @users.size > 1 %>
    <div class="col-md-6 mb-4 float-left">
      <div class="border border-red mr-4 p-3 rounded-2">
        <h2 class="h2 mb-2">Merge users</h2>
        <%= form_tag admin_merge_users_path do %>
          <div class="form-group mt-0">
            <label for="primary_user_id">Primary user:</label>
            <%= select_tag :primary_user_id, options_for_select(@user_options), class: 'form-select', required: true %>
            <p class="note">
              This user will be kept.
            </p>
          </div>
          <div class="form-group">
            <label for="secondary_user_id">Secondary user:</label>
            <%= select_tag :secondary_user_id, options_for_select(@user_options), class: 'form-select', required: true %>
            <p class="note">
              This user will be deleted.
            </p>
          </div>
          <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to combine these users?">
            Combine users
          </button>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @userless_accounts.any? %>
    <div class="col-md-6 mb-4 float-left">
      <div class="border border-red ml-4 p-3 rounded-2">
        <h2 class="h2 mb-2">Tie account to a user</h2>
        <%= form_tag admin_update_account_path do %>
          <div class="form-group mt-0">
            <label for="user_id">User:</label>
            <%= select_tag :user_id, options_for_select(@user_options), class: 'form-select', required: true %>
          </div>
          <div class="form-group">
            <label for="oauth_account_id">Account:</label>
            <%= select_tag :oauth_account_id, options_for_select(@userless_account_options), class: 'form-select', required: true %>
          </div>
          <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to connect the account to the user?">
            Connect account to user
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
