<% if oauth_accounts.size == 1 %>
  <%= selected_account %>
<% else %>
  <div class="dropdown js-menu-container d-inline-block">
    <button class="btn-link no-underline text-bold p-0 dropdown-toggle js-menu-target" type="button" aria-expanded="false" aria-haspopup="true">
      <%= avatar_for(selected_account, classes: '') %>
      <%= selected_account %>
      <div class="dropdown-caret"></div>
    </button>

    <div class="dropdown-menu-content js-menu-content">
      <ul class="dropdown-menu account-dropdown-menu dropdown-menu-se">
        <% oauth_accounts.each do |oauth_account| %>
          <li>
            <a class="dropdown-item <%= 'text-bold' if oauth_account == selected_account %>" href="<%= account_switcher_url(oauth_account) %>">
              <%= avatar_for(oauth_account, classes: '') %>
              <%= oauth_account %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
