<div class="player-summary-header d-flex flex-justify-center flex-items-center mb-4">
  <% if profile.portrait_url %>
    <img src="<%= profile.portrait_url %>" class="avatar mr-4 flex-shrink-0" width="75" alt="<%= profile.username %> portrait">
  <% end %>
  <div>
    <h2 class="h4 my-0 text-center"><%= oauth_account %></h2>
    <div class="d-flex flex-items-center flex-justify-center">
      <% if profile.rank_url %>
        <img class="d-inline-block mr-1" width="40" height="40" src="<%= profile.rank_url %>" alt="Rank <%= profile.sr %> logo">
      <% end %>
      <span class="d-inline-block text-bold">
        <% if profile.sr %>
          <%= profile.sr %>
        <% else %>
          Unranked
        <% end %>
      </span>
      <span class="d-inline-block ml-3 text-gray"><%= stats.tldr %></span>
    </div>
  </div>
</div>
