<% content_for(:title, 'Your Battle.net accounts') %>

<% content_for(:breadcrumb) do %>
  <a href="<%= settings_path %>">Settings</a> / Your Battle.net accounts
<% end %>

<div class="d-flex-md flex-justify-between-md">
  <div class="col-5-md mb-4-sm">
    <h2 class="mb-2 mt-0 h3 text-normal">Your Accounts</h2>
    <ul class="list-style-none">
      <% @oauth_accounts.each_with_index do |oauth_account, i| %>
        <li<% if i > 0 %> class="border-top pt-2 mt-2"<% end %>>
          <div class="d-flex flex-justify-between flex-items-center">
            <%= oauth_account %>
            <% if oauth_account.can_be_unlinked? %>
              <%= form_tag account_path(oauth_account), method: :delete, class: 'd-inline-block' do %>
                <button type="submit" class="text-small btn-link" data-confirm="Are you sure you want to unlink <%= oauth_account %> from this account? None of its matches will be deleted.">
                  Unlink
                </button>
              <% end %>
            <% end %>
          </div>
          <% if oauth_account.default? %>
            <p class="note">
              You are currently signed in via this account
            </p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h2 class="mb-2 mt-0 h3 text-normal">Connect Another Account</h2>
    <p>
      Be sure to <a target="_blank" rel="noopener noreferrer" href="https://us.battle.net/forums/en/?logout" class="text-bold">log out of Battle.net</a>
      if you are already signed in as one of the linked accounts on the left.
      Then:
    </p>
    <a href="<%= user_bnet_omniauth_authorize_path %>" class="btn-outline btn btn-large">
      Connect your Battle.net account
    </a>
  </div>
</div>
