<% content_for(:title, "#{@oauth_account} Profile") %>

<div class="clearfix">
  <div class="col-md-9 float-left">
    <p>
      <a class="d-inline-block mr-4" href="<%= @oauth_account.overbuff_url %>" target="_blank" rel="noopener noreferrer">
        View Overbuff profile
      </a>

      <a class="d-inline-block mr-4" href="<%= @oauth_account.master_overwatch_url %>" target="_blank" rel="noopener noreferrer">
        View Master Overwatch profile
      </a>

      <a href="<%= @oauth_account.play_overwatch_url %>" target="_blank" rel="noopener noreferrer">
        View PlayOverwatch profile
      </a>
    </p>
  </div>
  <div class="col-md-3 float-left">
    <% if @other_oauth_accounts.size > 1 %>
      <div class="border rounded-2 p-3">
        <h2 class="h4 mb-2 mt-0 text-normal">Your other accounts</h2>
        <ul class="list-style-none">
          <% @other_oauth_accounts.each do |oauth_account| %>
            <li>
              <a href="<%= profile_path(oauth_account) %>">
                <%= oauth_account %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
