<% content_for(:title, "#{current_user} / Settings") %>

<% content_for(:breadcrumb) do %>
  <%= current_user %> / Settings
<% end %>

<div class="col-6 float-left pr-2">
  <div class="Box p-3 d-flex flex-items-center">
    <span class="ion-ios-download-outline ion f1 text-gray"></span>
    <div class="ml-4">
      <a class="h3" href="<%= import_path(Match::LATEST_SEASON, current_user.primary_account) %>">
        Import match history for <%= current_user.primary_account %>
      </a>
      <div>
        Import competitive matches per season from a file.
      </div>
    </div>
  </div>
</div>

<div class="col-6 float-left pl-2">
  <div class="Box p-3 d-flex flex-items-center">
    <span class="ion-ios-close-outline ion f1 text-gray"></span>
    <div class="ml-4">
      <a class="h3" href="<%= wipe_season_select_path(current_user.primary_account) %>">
        Wipe match history for <%= current_user.primary_account %>
      </a>
      <div>
        Remove matches by season.
      </div>
    </div>
  </div>
</div>
