<%
  account = local_assigns[:account] || current_account
  season = local_assigns[:season] || Season.current_or_latest_number
%>

<ul class="filter-list mr-4">
  <li>
    <a href="#general-charts" class="filter-item selected js-tab" role="tab" aria-current="page">
      General
    </a>
  </li>
  <% if show_group_charts_tab?(matches) %>
    <li>
      <a href="#group-charts" class="filter-item js-tab" role="tab">
        Groups
      </a>
    </li>
  <% end %>
  <% if show_hero_charts_tab?(matches) %>
    <li>
      <a href="#hero-charts" class="filter-item js-tab" role="tab">
        Heroes
      </a>
    </li>
  <% end %>
  <% if show_time_charts_tab?(matches) %>
    <li>
      <a href="#time-charts" class="filter-item js-tab" role="tab">
        Time
      </a>
    </li>
  <% end %>
</ul>
<% if local_assigns[:account] %>
  <hr class="mb-3">
  <span class="text-gray text-small">Change account:</span>
  <%= account_switcher(account) %>
<% end %>
<% if local_assigns[:season] %>
  <hr class="mb-3">
  <span class="text-gray text-small">Change season:</span>
  <%= season_switcher(season) %>
<% end %>
<hr class="mb-4">
<nav class="menu mr-4">
  <span class="menu-heading">Scope</span>
  <a href="<%= trends_path(season, account) %>" class="menu-item <%= 'selected' if is_trends_page?(season, account) %>" role="tab" aria-current="page">
    Current account<br>Current season
  </a>
  <% if accounts.size > 1 %>
    <a href="<%= all_accounts_trends_path(season) %>" class="menu-item <%= 'selected' if is_all_accounts_trends_page? %>">
      All accounts<br>Current season
    </a>
  <% end %>
  <a href="<%= all_seasons_trends_path(account) %>" class="menu-item <%= 'selected' if is_all_seasons_trends_page?(account) %>">
    Current account<br>All seasons
  </a>
  <% if accounts.size > 1 %>
    <a href="<%= all_seasons_accounts_path %>" class="menu-item <%= 'selected' if is_all_seasons_accounts_page? %>">
      All accounts<br>All seasons
    </a>
  <% end %>
</nav>
