<%
  account = local_assigns[:account] || current_user
  season = local_assigns[:season] || Season.current_or_latest_number
%>

<% content_for(:trend_tabs) do %>
  <div class="d-inline-block-sm">
    <div class="dropdown js-menu-container">
      <button class="btn-link UnderlineNav-item selected no-underline text-bold dropdown-toggle js-menu-target" type="button" aria-expanded="false" aria-haspopup="true">
        Trends
        <span class="dropdown-caret"></span>
      </button>
      <div class="dropdown-menu-content js-menu-content">
        <ul class="dropdown-menu trends-dropdown-menu dropdown-menu-se">
          <li>
            <a href="<%= trends_path(season, account) %>" class="dropdown-item <%= 'selected' if is_trends_page?(season, account) %>"><%= account.name %>&rsquo;s season <%= season %></a>
          </li>
          <li>
            <a href="<%= all_seasons_trends_path(account) %>" class="dropdown-item js-tab <%= 'selected' if is_all_seasons_trends_page? %>">
              All season trends
            </a>
          </li>
          <% if accounts.size > 1 %>
            <li>
              <a href="<%= all_accounts_trends_path(season) %>" class="dropdown-item js-tab <%= 'selected' if is_all_accounts_trends_page? %>">
                All account trends
              </a>
            </li>
            <li>
              <a href="<%= all_seasons_accounts_path %>" class="dropdown-item js-tab <%= 'selected' if is_all_seasons_accounts_page? %>">
                All account + season trends
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex hide-sm">
    <a href="<%= trends_path(season, account) %>" class="UnderlineNav-item <%= 'selected' if is_trends_page?(season, account) %>" role="tab">Trends</a>

    <a href="<%= all_seasons_trends_path(account) %>" class="UnderlineNav-item js-tab <%= 'selected' if is_all_seasons_trends_page? %>" role="tab">
      All season trends
    </a>

    <% if accounts.size > 1 %>
      <a href="<%= all_accounts_trends_path(season) %>" class="UnderlineNav-item js-tab <%= 'selected' if is_all_accounts_trends_page? %>" role="tab">
        All account trends
      </a>

      <a href="<%= all_seasons_accounts_path %>" class="UnderlineNav-item js-tab <%= 'selected' if is_all_seasons_accounts_page? %>" role="tab">
        All account + season trends
      </a>
    <% end %>
  </div>
<% end %>
