<% content_for(:title, "#{@account} / All Seasons / Trends") %>

<%= render partial: 'trends/top_nav', locals: { account: @account } %>

<div class="clearfix">
  <% if show_sidebar?(@matches) %>
    <div class="col-md-2 float-left">
      <%= render partial: 'trends/sidebar',
                 locals: { matches: @matches, account: @account } %>
    </div>
  <% end %>
  <div<% if show_sidebar?(@matches) %> class="col-md-10 float-left"<% end %>>
    <div id="general-charts" class="js-tab-contents tab-contents">
      <div class="clearfix">
        <div class="col-md-6 float-md-left">
          <div class="mb-4">
            <span class="text-bold">Active in seasons:</span>
            <%= @active_seasons.map(&:to_s).join(', ') %>
          </div>
          <%= render partial: 'seasons/rank_range',
                     locals: { lowest_sr: @lowest_sr, highest_sr: @highest_sr } %>
        </div>
        <div class="col-md-6 float-md-left">
          <%= render partial: 'seasons/matches_logged',
                     locals: { total_matches: @total_matches, total_wins: @total_wins,
                               total_losses: @total_losses, total_draws: @total_draws } %>
        </div>
      </div>
      <%= render partial: 'trends/general_charts',
                 locals: { matches: @matches } %>
    </div>
    <div id="group-charts" class="js-tab-contents tab-contents d-none">
      <% if @group_members.any? %>
        <h3 class="h3 mb-2">Group Members</h3>
        <%= render partial: 'seasons/group_members',
                   locals: { group_members: @group_members, most_frequent_group_members: @most_frequent_group_members,
                             most_frequent_match_count: @most_frequent_match_count,
                             most_winning_group_members: @most_winning_group_members,
                             win_rates_by_group_member: @win_rates_by_group_member,
                             match_counts_by_group_member: @match_counts_by_group_member } %>
        <hr class="mb-4 pt-2">
      <% end %>
      <%= render partial: 'trends/group_charts',
                 locals: { matches: @matches } %>
    </div>
    <div id="hero-charts" class="js-tab-contents tab-contents d-none">
      <%= render partial: 'trends/hero_charts',
                 locals: { matches: @matches } %>
    </div>
    <div id="time-charts" class="js-tab-contents tab-contents d-none">
      <%= render partial: 'trends/time_charts',
                 locals: { matches: @matches } %>
    </div>
  </div>
</div>
