<% content_for(:title, "#{@account} / All Seasons / Trends") %>

<% content_for(:breadcrumb) do %>
  <%= account_switcher(@account) %>
<% end %>

<div class="clearfix">
  <div class="col-md-2 float-left">
    <%= render partial: 'trends/sidebar',
               locals: { matches: @matches, account: @account } %>
  </div>
  <div class="col-md-10 float-left">
    <div id="general-charts" class="js-tab-contents tab-contents">
      <div class="clearfix">
        <div class="col-md-6 float-md-left">
          <div class="mb-4">
            <span class="text-bold">Active in seasons:</span>
            <%= @active_seasons.map(&:to_s).join(', ') %>
          </div>
          <%= render partial: 'seasons/rank_range',
                     locals: { lowest_sr: @lowest_sr, highest_sr: @highest_sr } %>
        </div>
        <div class="col-md-6 float-md-left">
          <%= render partial: 'seasons/matches_logged',
                     locals: { total_matches: @total_matches, total_wins: @total_wins,
                               total_losses: @total_losses, total_draws: @total_draws } %>
        </div>
      </div>
      <%= render partial: 'trends/general_charts',
                 locals: { matches: @matches } %>
    </div>
    <div id="group-charts" class="js-tab-contents tab-contents d-none">
      <% if @friends.any? %>
        <h3 class="h3 mb-2">Group Members</h3>
        <%= render partial: 'seasons/group_members',
                   locals: { friends: @friends, most_frequent_friends: @most_frequent_friends,
                             most_frequent_match_count: @most_frequent_match_count,
                             most_winning_friends: @most_winning_friends,
                             win_rates_by_friend: @win_rates_by_friend,
                             match_counts_by_friend: @match_counts_by_friend } %>
        <hr class="mb-4 pt-2">
      <% end %>
      <%= render partial: 'trends/group_charts',
                 locals: { matches: @matches } %>
    </div>
    <div id="hero-charts" class="js-tab-contents tab-contents d-none">
      <%= render partial: 'trends/hero_charts',
                 locals: { matches: @matches } %>
    </div>
    <div id="time-charts" class="js-tab-contents tab-contents d-none">
      <%= render partial: 'trends/time_charts',
                 locals: { matches: @matches } %>
    </div>
  </div>
</div>
