<% content_for(:title, "All Accounts / Season #{@season} / Trends") %>

<% content_for(:breadcrumb) do %>
  <%= season_switcher(@season) %>
<% end %>

<%= render partial: 'trends/tabs', locals: { season: @season } %>

<div class="clearfix">
  <div class="col-md-6 pr-4-md float-md-left">
    <div class="mb-4">
      <strong><%= @total_accounts %></strong>
      <%= 'account'.pluralize(@total_accounts) %> with matches
      <div class="text-gray"><%= @account_battletags.join(', ') %></div>
    </div>

    <%= render partial: 'seasons/rank_range',
               locals: { lowest_sr: @lowest_sr, highest_sr: @highest_sr } %>

    <%= render partial: 'seasons/matches_logged',
               locals: { total_matches: @total_matches, total_wins: @total_wins,
                         total_losses: @total_losses, total_draws: @total_draws } %>

    <%= render partial: 'seasons/heroes_played',
               locals: { match_counts_by_hero: @match_counts_by_hero,
                         max_hero_match_count: @max_hero_match_count,
                         total_matches: @total_matches } %>
  </div>

  <% if @friends.any? %>
    <div class="col-md-6 float-md-left">
      <h2 class="h3 text-normal mt-0 mb-2">Group Members</h2>

      <%= render partial: 'seasons/group_members',
                 locals: { friends: @friends, most_frequent_friends: @most_frequent_friends,
                           most_frequent_match_count: @most_frequent_match_count,
                           most_winning_friends: @most_winning_friends,
                           win_rates_by_friend: @win_rates_by_friend,
                           match_counts_by_friend: @match_counts_by_friend } %>
    </div>
  <% end %>
</div>

<% if show_win_loss_chart?(@matches) %>
  <div class="clearfix mb-4">
    <div class="col-md-6 float-md-left">
      <%= render partial: 'trends/win_loss_chart',
                 locals: { win_count: @win_count, loss_count: @loss_count,
                           draw_count: @draw_count, season: @season } %>
    </div>
  </div>
<% end %>

<% if show_role_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/role_chart',
             locals: { season: @season, win_counts: @role_win_counts, roles: @roles,
                       loss_counts: @role_loss_counts, draw_counts: @role_draw_counts } %>
<% end %>

<% if show_day_time_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/day_time_chart',
             locals: { day_times: @day_times, win_counts: @day_time_win_counts, season: @season,
                       loss_counts: @day_time_loss_counts, draw_counts: @day_time_draw_counts } %>
<% end %>

<% if show_group_size_chart?(@matches) || show_thrower_leaver_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <div class="clearfix">
    <% if show_group_size_chart?(@matches) %>
      <div class="col-md-6 float-md-left">
        <%= render partial: 'trends/group_size_chart',
                   locals: { season: @season, win_counts: @group_size_win_counts,
                             loss_counts: @group_size_loss_counts,
                             draw_counts: @group_size_draw_counts, group_sizes: @group_sizes } %>
      </div>
    <% end %>
    <% if show_thrower_leaver_chart?(@matches) %>
      <div class="col-md-6 float-md-left">
        <%= render partial: 'trends/thrower_leaver_chart',
                   locals: { season: @season, types: @thrower_leaver_types,
                             allies: @thrower_leaver_allies, enemies: @thrower_leaver_enemies } %>
      </div>
    <% end %>
  </div>
<% end %>

<% if show_group_member_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/group_member_chart',
             locals: { season: @season, group_members: @group_members,
                       win_counts: @group_member_win_counts,
                       loss_counts: @group_member_loss_counts,
                       draw_counts: @group_member_draw_counts } %>
<% end %>

<% if show_map_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/map_chart',
             locals: { win_counts: @map_win_counts, season: @season, map_names: @map_names,
                       loss_counts: @map_loss_counts, draw_counts: @map_draw_counts } %>
<% end %>

<% if show_season_high_heroes_chart?(@matches, @season_high) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/season_high_heroes_chart',
             locals: { season: @season, heroes: @season_high_heroes,
                       win_counts: @season_high_heroes_win_counts,
                       loss_counts: @season_high_heroes_loss_counts,
                       draw_counts: @season_high_heroes_draw_counts,
                       season_high: @season_high } %>
<% end %>

<% if show_heroes_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/heroes_chart',
             locals: { season: @season, heroes: @heroes, win_counts: @heroes_win_counts,
                       loss_counts: @heroes_loss_counts, draw_counts: @heroes_draw_counts } %>
<% end %>

<% if show_rank_tier_chart?(@matches, @season) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/rank_tier_chart',
             locals: { season: @season, rank_tiers: @rank_tiers, win_counts: @rank_tier_win_counts,
                       loss_counts: @rank_tier_loss_counts, draw_counts: @rank_tier_draw_counts } %>
<% end %>

<% if show_group_stats?(@matches) %>
  <hr class="mb-4 pt-4">
  <div class="clearfix">
    <div class="col-md-6 float-md-left">
      <%= render partial: 'trends/group_stats',
           locals: { wins_by_group_members: @wins_by_group_members, season: @season,
                     match_counts_by_group_members: @match_counts_by_group_members,
                     win_rates_by_group_members: @win_rates_by_group_members } %>
    </div>
  </div>
<% end %>
