<h3 class="h3 flex-justify-center d-flex flex-items-center mb-2">
  Win Rates by Group
  <span class="text-gray text-normal h4 d-inline-block ml-2">Season <%= @season %></span>
</h3>
<%
  prev_match_count = @match_counts_by_group_members[@win_rates_by_group_members.keys.first]
  i = 0
%>
<% @win_rates_by_group_members.each do |friend_names, win_rate| %>
  <%
    match_count = @match_counts_by_group_members[friend_names]
    show_divider = match_count != prev_match_count
  %>
  <% if show_divider %>
    <hr>
    <% prev_match_count = match_count %>
  <% end %>
  <% if i == 0 || show_divider %>
    <% if match_count == 1 %>
      <button type="button" data-target=".js-group-stats-details-target" class="js-toggle-details btn-link text-gray width-full text-center h4 text-normal mb-2">
        <span class="ion-chevron-right text-small ion"></span>
        1 match
      </button>
    <% else %>
      <h4 class="h4 text-center text-gray text-normal mb-2">
        <%= pluralize(match_count, 'match') %>
      </h4>
    <% end %>
  <% end %>
  <div class="d-flex flex-items-center mb-1 <%= 'd-none js-group-stats-details-target' if match_count == 1 %>">
    <span class="d-inline-block text-right text-bold mr-2 group-members-label"><%= friend_names.join(', ') %></span>
    <span class="group-win-rate-label text-center mr-2"><%= win_rate %>%</span>
    <span class="d-flex flex-auto">
      <span class="group-members-bar hero-bar-lucio d-inline-block rounded-2" style="width: <%= win_rate %>%"></span>
    </span>
  </div>
  <% i += 1 %>
<% end %>
