<% content_for(:title, "#{@oauth_account} / Season #{@season} / Trends") %>

<% if @is_owner %>
  <% content_for(:breadcrumb) do %>
    <%= account_switcher(@oauth_account) %> / <%= season_switcher(@season) %> / Trends
  <% end %>
<% end %>

<% if @matches.empty? %>
  <div class="blankslate mb-4">
    <% if @season.future? %>
      Season <%= @season %> has not started yet.
    <% else %>
      <%= @oauth_account %>
      <% if @season.past? %>
        did not log
      <% else %>
        has not logged
      <% end %>
      any competitive matches in season <%= @season %>.
    <% end %>
    <% if @is_owner %>
      <div class="mt-2">
        <a href="<%= all_seasons_stats_path(@oauth_account) %>">
          View <span class="text-bold"><%= @oauth_account %></span>'s trends across all seasons
        </a>
        <% if oauth_accounts.size > 1 %>
          /
          <a href="<%= all_accounts_stats_path(@season) %>">
            View trends for <span class="text-bold">season <%= @season %></span> across all accounts
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if show_win_loss_chart?(@matches) || show_role_chart?(@matches) %>
  <div class="clearfix mb-4">
    <% if show_win_loss_chart?(@matches) %>
      <div class="col-md-6 float-md-left">
        <%= render partial: 'trends/win_loss_chart',
                   locals: { win_count: @win_count, loss_count: @loss_count,
                             draw_count: @draw_count, season: @season } %>
      </div>
    <% end %>
    <% if show_role_chart?(@matches) %>
      <div class="col-md-6 float-md-left">
        <%= render partial: 'trends/role_chart',
                   locals: { season: @season, match_counts: @role_match_counts, roles: @roles } %>
      </div>
    <% end %>
  </div>
<% end %>
<% if show_day_time_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/day_time_chart',
             locals: { day_times: @day_times, win_counts: @day_time_win_counts, season: @season,
                       loss_counts: @day_time_loss_counts, draw_counts: @day_time_draw_counts } %>
<% end %>
<% if show_group_size_chart?(@matches) || show_thrower_leaver_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <div class="clearfix">
    <% if show_group_size_chart?(@matches) %>
      <div class="col-md-6 float-md-left">
        <%= render partial: 'trends/group_size_chart',
                   locals: { season: @season, win_counts: @group_size_win_counts,
                             loss_counts: @group_size_loss_counts,
                             draw_counts: @group_size_draw_counts, group_sizes: @group_sizes } %>
      </div>
    <% end %>
    <% if show_thrower_leaver_chart?(@matches) %>
      <div class="col-md-6 float-md-left">
        <%= render partial: 'trends/thrower_leaver_chart',
                   locals: { season: @season, types: @thrower_leaver_types,
                             allies: @thrower_leaver_allies, enemies: @thrower_leaver_enemies } %>
      </div>
    <% end %>
  </div>
<% end %>
<% if show_group_member_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/group_member_chart',
             locals: { season: @season, group_members: @group_members,
                       win_counts: @group_member_win_counts,
                       loss_counts: @group_member_loss_counts,
                       draw_counts: @group_member_draw_counts } %>
<% end %>
<% if show_map_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/map_chart',
             locals: { win_counts: @map_win_counts, season: @season, map_names: @map_names,
                       loss_counts: @map_loss_counts, draw_counts: @map_draw_counts } %>
<% end %>
<% if show_streaks_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/streaks_chart',
             locals: { season: @season, game_numbers: @game_numbers, win_streaks: @win_streaks,
                       loss_streaks: @loss_streaks } %>
<% end %>
<% if show_career_high_heroes_chart?(@matches, @oauth_account) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/career_high_heroes_chart',
             locals: { season: @season, heroes: @career_high_heroes,
                       win_counts: @career_high_heroes_win_counts,
                       loss_counts: @career_high_heroes_loss_counts,
                       draw_counts: @career_high_heroes_draw_counts } %>
<% end %>
<% if show_heroes_chart?(@matches) %>
  <hr class="mb-4 pt-4">
  <%= render partial: 'trends/heroes_chart',
             locals: { season: @season, heroes: @heroes, win_counts: @heroes_win_counts,
                       loss_counts: @heroes_loss_counts, draw_counts: @heroes_draw_counts } %>
<% end %>
<% if show_group_stats?(@matches) %>
  <hr class="mb-4 pt-4">
  <div class="clearfix">
    <div class="col-md-6 float-md-left">
      <%= render partial: 'trends/group_stats',
           locals: { wins_by_group_members: @wins_by_group_members, season: @season,
                     match_counts_by_group_members: @match_counts_by_group_members,
                     win_rates_by_group_members: @win_rates_by_group_members } %>
    </div>
  </div>
<% end %>
