<h3 class="h3 flex-justify-center d-flex flex-items-center mb-2">
  Wins/Losses by Time of Day
  <span class="text-gray text-normal h4 d-inline-block ml-2">Season <%= @season %></span>
</h3>
<canvas class="js-win-loss-bar-chart" data-labels="<%= @times.to_json %>" data-wins="<%= @win_counts.to_json %>" data-losses="<%= @loss_counts.to_json %>" data-draws="<%= @draw_counts.to_json %>"></canvas>
