<h2 class="h2">
  <select class="form-select js-season-select" data-url-template="/import/{season}/<%= @oauth_account.to_param %>">
    <%= options_for_select(season_options, @season) %>
  </select>
  / <%= @oauth_account %> /
  Import matches
</h2>
<h3 class="h3 text-normal text-gray mt-2 mb-4">Import a CSV file of your matches for a season.</h3>

<% if @match_count > 0 %>
  <p class="mb-4 p-3 h3 text-normal rounded-2 flash-warn">
    You have <strong><%= pluralize(@match_count, 'match') %></strong> in season
    <%= @season %>. Importing a CSV file will <strong>wipe</strong> these matches and
    replace them with the contents of your file.
  </p>
<% else %>
  <p class="mb-4">You have no matches in <%= @season %>.</p>
<% end %>

<% if @matches %>
  <% @matches.each do |match| %>
    <%= render partial: 'matches/match_errors', locals: { match: match } %>
  <% end %>
<% end %>

<div class="col-5 float-left pr-4">
  <%= form_tag import_path, multipart: true do %>
    <dl class="form-group mt-0">
      <dt><label for="csv">Choose a CSV file:</label></dt>
      <dd><%= file_field_tag :csv, class: 'form-control' %></dd>
    </dl>
    <button type="submit" class="btn btn-primary">
      Import season <%= @season %> matches
    </button>
  <% end %>

  <h4 class="h4 mt-4 mb-2">Note:</h4>
  <ul class="ml-4">
    <li>Valid columns: rank, heroes, map, comment</li>
    <li>Rank is required</li>
    <li>Column order does not matter</li>
    <li>Cannot import time of day or day of week</li>
    <li>A header row is required; it is case insensitive</li>
    <li>The first row after the header row must contain your starting SR for the season</li>
    <li>Cannot import individual placement matches</li>
    <li>Hero names must be comma-separated; case doesn't matter</li>
  </ul>
</div>

<div class="col-7 float-left">
  <div class="js-tab-container">
    <h4 class="h4 mb-2">Sample formatting</h4>
    <div class="tabnav mb-0">
      <nav class="tabnav-tabs">
        <a href="#sample1" class="tabnav-tab selected js-tab">CSV with rank, map, comment</a>
        <a href="#sample2" class="tabnav-tab js-tab">CSV with rank, map, heroes</a>
      </nav>
    </div>

    <div id="sample1" class="js-tab-contents border p-3 border-top-0">
      <p>In this example, 3929 is where you placed:</p>
      <pre>Rank,Map,Comment
3929,,
3954,Hanamura,favored
3978,Nepal,
3953,Temple of Anubis,leaver on my team
3924,King's Row,two overextending teammates
3949,Hollywood,even team SRs
3925,Junkertown,"slightly favored, PotG"</pre>
    </div>

    <div id="sample2" class="js-tab-contents d-none border p-3 border-top-0">
      <p>In this example, 3249 is where you placed:</p>
      <pre>rank,map,heroes
3249,,"mercy, moira"
3333,,Lúcio
3322,Ilios,lucio
3364,King's Row,"Torbjorn, reinhardt, D.va"
3399,Numbani,
3437,Route 66,widowmaker
3474,Hollywood,</pre>
    </div>
  </div>
</div>
