<h2 class="h2 mb-2">
  Day of the week
  <span class="text-gray text-normal d-inline-block ml-2 h3">Season <%= season_number %></span>
</h2>
<ul class="list-style-none mb-4">
  <% if weekday_win_percent %>
    <li class="mb-1 d-flex flex-items-center">
      <% if max_win_percent %>
        <span class="win-bar-container d-inline-block mr-3">
          <span class="win-bar d-inline-block rounded-2" style="width: <%= hero_bar_width(weekday_win_percent, max_win_percent, 100) %>%; background-color: <%= win_rate_color(weekday_win_percent + 10) %>"></span>
        </span>
      <% end %>
      <span><%= weekday_win_percent %>% of <strong>weekday</strong> matches were won</span>
    </li>
  <% end %>
  <% if weekend_win_percent %>
    <li class="mb-1  d-flex flex-items-center">
      <% if max_win_percent %>
        <span class="win-bar-container d-inline-block mr-3">
          <span class="win-bar d-inline-block rounded-2" style="width: <%= hero_bar_width(weekend_win_percent, max_win_percent, 100) %>%; background-color: <%= win_rate_color(weekend_win_percent + 10) %>"></span>
        </span>
      <% end %>
      <span><%= weekend_win_percent %>% of <strong>weekend</strong> matches were won</span>
    </li>
  <% end %>
</ul>
