<% if thrower_leaver_win_percentages.any? %>
  <h2 class="h2 mb-2">
    Throwers and leavers
    <span class="text-gray text-normal d-inline-block ml-2 h3">Season <%= season_number %></span>
  </h2>
  <ul class="list-style-none mb-4">
    <% thrower_leaver_win_percentages.each do |condition, win_percent| %>
      <li class="mb-1 d-flex flex-items-center">
        <span class="win-bar-container d-inline-block mr-3">
          <span class="win-bar d-inline-block rounded-2" style="width: <%= hero_bar_width(win_percent, max_thrower_leaver_win_percentage, 100) %>%; background-color: <%= win_rate_color(win_percent) %>"></span>
        </span>
        <span><%= win_percent %>% of matches <%= thrower_leaver_description(condition) %> were won</span>
      </li>
    <% end %>
  </ul>
<% end %>
