<h2 class="h2 mb-2">
  Group size
  <span class="text-gray text-normal d-inline-block ml-2 h3">Season <%= @season_number %></span>
</h2>

<div class="mb-4">
  <% group_sizes.each do |group_size| %>
    <%
      match_count = @match_counts_by_group_size[group_size]
      win_percentage = @group_size_win_percentages[group_size]
    %>
    <div class="mb-2 d-flex-md flex-items-center-md flex-justify-center-md">
      <div class="win-bar-container d-inline-block mr-3">
        <% if win_percentage %>
          <span class="win-bar d-inline-block rounded-2" style="width: <%= hero_bar_width(win_percentage, @max_group_size_win_percentage, 100) %>%; background-color: <%= win_rate_color(win_percentage + 10) %>"></span>
        <% else %>
          &mdash;
        <% end %>
      </div>
      <div>
        <strong><%= group_size_name(group_size) %></strong>:
        <% if win_percentage %>
          <%= win_percentage %>% of games won
          <div class="note">
            <%= number_with_delimiter match_count %>
            <%= 'match'.pluralize(match_count) %>
          </div>
        <% else %>
          <em>No matches logged</em>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
