<% content_for(:title, 'Community') %>

<div class="clearfix mb-4">
  <% if @top_rank %>
    <div class="col-md-4 float-left">
      <div class="Box p-3 mr-3">
        <h3 class="h3 text-gray text-center text-normal">Top rank</h3>
        <div class="h2 text-normal d-flex flex-items-start flex-justify-center">
          <%= rank_image(@top_rank, classes: 'flex-shrink-0 rank-fit-height',
                         outer_classes: 'flex-shrink-0 mr-1') %>
          <%= @top_rank %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @average_rank %>
    <div class="col-md-4 float-left">
      <div class="Box p-3 mx-2">
        <h3 class="h3 text-gray text-center text-normal">Average rank</h3>
        <div class="h2 text-normal d-flex flex-items-start flex-justify-center">
          <%= rank_image(@average_rank, classes: 'flex-shrink-0 rank-fit-height',
                         outer_classes: 'flex-shrink-0 mr-1') %>
          <%= @average_rank %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @bottom_rank %>
    <div class="col-md-4 float-left">
      <div class="Box p-3 ml-3">
        <h3 class="h3 text-gray text-center text-normal">Lowest rank</h3>
        <div class="h2 text-normal d-flex flex-items-start flex-justify-center">
          <%= rank_image(@bottom_rank, classes: 'flex-shrink-0 rank-fit-height',
                         outer_classes: 'flex-shrink-0 mr-1') %>
          <%= @bottom_rank %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="clearfix mb-4">
  <% if @top_heroes.any? %>
    <div class="col-md-6 float-left">
      <h2 class="h2 mb-2">Most played heroes</h2>
      <div class="mb-4 pb-2 overflow-hidden">
        <%= render partial: 'accounts/heroes_list', locals: { heroes: @top_heroes } %>
      </div>
    </div>
  <% end %>
  <div class="col-md-6 float-left">
    <h2 class="h2 mb-2">Stats</h2>
    <ul class="list-style-none">
      <% if @thrower_leaver_percent %>
        <li>
          <%= @thrower_leaver_percent %>% of matches had a thrower or leaver
          <% if @thrower_leaver_percent > 0 %>
            😿
          <% else %>
            🎉
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
