<% content_for(:title, 'Community') %>

<div class="clearfix mb-4">
  <div class="col-md-6 float-left">
    <div class="mr-4">
      <%= render partial: 'community/top_heroes',
                 locals: { top_heroes: @top_heroes, season_number: @season_number } %>
      <%= remote_load_with_spinner(community_most_winning_heroes_path) %>
      <%= remote_load_with_spinner(community_top_profile_icons_path) %>
    </div>
  </div>
  <div class="col-md-6 float-left">
    <div class="ml-4">
      <%= render partial: 'community/general_stats',
                 locals: { overall_win_percent: @overall_win_percent,
                           season_number: @season_number,
                           thrower_leaver_percent: @thrower_leaver_percent } %>
      <%= render partial: 'community/day_of_week',
                 locals: { weekday_win_percent: @weekday_win_percent,
                           max_win_percent: @max_win_percent,
                           weekend_win_percent: @weekend_win_percent,
                           season_number: @season_number,
                           weekday_thrower_leaver_percent: @weekday_thrower_leaver_percent,
                           weekend_thrower_leaver_percent: @weekend_thrower_leaver_percent,
                           max_thrower_leaver_percent: @max_thrower_leaver_percent } %>
      <%= render partial: 'community/maps',
                 locals: { season_number: @season_number, highest_win_map: @highest_win_map,
                           highest_win_map_pct: @highest_win_map_pct,
                           lowest_win_map_pct: @lowest_win_map_pct,
                           lowest_win_map: @lowest_win_map,
                           highest_draw_map_pct: @highest_draw_map_pct,
                           highest_draw_map: @highest_draw_map } %>
      <%= render partial: 'community/ranks',
                 locals: { top_rank: @top_rank, average_rank: @average_rank,
                           season_number: @season_number } %>
    </div>
  </div>
</div>

<% if @season_shares.size > 2 || @thrower_leaver_win_percentages.any? %>
  <hr class="mb-4">

  <div class="clearfix">
    <div class="float-left col-md-6">
      <%= remote_load_with_spinner(community_group_size_path) %>
      <%= render partial: 'community/throwers_leavers',
                 locals: { thrower_leaver_win_percentages: @thrower_leaver_win_percentages,
                           max_thrower_leaver_win_percentage: @max_thrower_leaver_win_percentage,
                           season_number: @season_number } %>
    </div>

    <div class="float-left col-md-6">
      <div class="ml-4">
        <%= render partial: 'community/season_shares',
                   locals: { season_number: @season_number, season_shares: @season_shares } %>
        <%= render partial: 'community/rank_tiers',
                   locals: { season_number: @season_number,
                             rank_tier_win_percentages: @rank_tier_win_percentages,
                             max_rank_tier_win_percentage: @max_rank_tier_win_percentage } %>
      </div>
    </div>
  </div>
<% end %>
