<% content_for(:title, 'Community') %>

<div class="clearfix mb-4">
  <div class="col-md-6 float-left">
    <div class="mr-4">
      <%= render partial: 'community/top_heroes',
                 locals: { top_heroes: @top_heroes, season_number: @season_number } %>
      <%= render partial: 'community/heroes',
                 locals: { hero_win_percentages: @hero_win_percentages,
                           max_hero_win_percentage: @max_hero_win_percentage,
                           match_counts_by_hero_id: @match_counts_by_hero_id,
                           season_number: @season_number } %>
    </div>
  </div>
  <div class="col-md-6 float-left">
    <div class="ml-4">
      <%= render partial: 'community/general_stats',
                 locals: { overall_win_percent: @overall_win_percent,
                           season_number: @season_number,
                           thrower_leaver_percent: @thrower_leaver_percent } %>
      <%= render partial: 'community/day_of_week',
                 locals: { weekday_win_percent: @weekday_win_percent,
                           max_win_percent: @max_win_percent,
                           weekend_win_percent: @weekend_win_percent,
                           season_number: @season_number } %>
      <%= render partial: 'community/maps',
                 locals: { season_number: @season_number, highest_win_map: @highest_win_map,
                           highest_win_map_pct: @highest_win_map_pct,
                           lowest_win_map_pct: @lowest_win_map_pct,
                           lowest_win_map: @lowest_win_map,
                           highest_draw_map_pct: @highest_draw_map_pct,
                           highest_draw_map: @highest_draw_map } %>
      <%= render partial: 'community/ranks',
                 locals: { top_rank: @top_rank, average_rank: @average_rank } %>
    </div>
  </div>
</div>

<% if @group_size_win_percentages.any? || @season_shares.size > 2 || @thrower_leaver_win_percentages.any? %>
  <hr class="mb-4">

  <div class="clearfix">
    <% if @group_size_win_percentages.any? %>
      <div class="float-left col-md-6">
        <%= render partial: 'community/group_size',
                   locals: { season_number: @season_number,
                             match_counts_by_group_size: @match_counts_by_group_size,
                             group_size_win_percentages: @group_size_win_percentages,
                             max_group_size_win_percentage: @max_group_size_win_percentage } %>
        <%= render partial: 'community/throwers_leavers',
                   locals: { thrower_leaver_win_percentages: @thrower_leaver_win_percentages,
                             max_thrower_leaver_win_percentage: @max_thrower_leaver_win_percentage,
                             season_number: @season_number } %>
      </div>
    <% end %>

    <div class="float-left col-md-6">
      <div class="ml-4">
        <%= render partial: 'community/season_shares',
                   locals: { season_number: @season_number, season_shares: @season_shares } %>
        <%= render partial: 'community/rank_tiers',
                   locals: { season_number: @season_number,
                             rank_tier_win_percentages: @rank_tier_win_percentages,
                             max_rank_tier_win_percentage: @max_rank_tier_win_percentage } %>
      </div>
    </div>
  </div>
<% end %>
