<% content_for(:title, 'Export matches') %>

<p>Download your match history for each season as a <abbr title="Comma Separated Value">CSV</abbr> file.</p>

<div class="d-flex-md flex-wrap">
  <% @accounts.each do |account| %>
    <% any_matches = false %>
    <div class="Box p-3 mb-4 mr-4-md account-box">
      <h3 class="h3 mb-2 text-normal d-flex flex-items-center">
        <%= avatar_for(account, classes: 'mr-1') %>
        <%= account %>
      </h3>
      <ul class="list-style-none">
        <% @seasons.each do |season| %>
          <% match_count = @match_counts[[account.id, season]] || 0 %>
          <% if match_count > 0 %>
            <% any_matches = true %>
            <li>
              <%= form_tag export_matches_path(season, account, format: :csv) do %>
                <button type="submit" class="btn-link d-flex flex-items-center width-full flex-justify-between">
                  Download season <%= season %>
                  <span class="text-small text-gray"><%= pluralize(match_count, 'match') %></span>
                </button>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <% unless any_matches %>
          <li class="text-gray text-italic">No matches logged for this account</li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
