<h2 class="h2 mb-2 d-flex-md flex-items-center-md flex-justify-between-md">
  Latest matches
  <span class="text-small text-gray text-normal">
    *From other users
  </span>
</h2>
<ul class="mb-4 list-style-none test-latest-matches">
  <% matches.each_with_index do |match, i| %>
    <li<% if i > 0 %> class="mt-1"<% end %>>
      <%= admin_link_to_account(match.account) %>
      &middot;
      <%= match_result(match) %>
      <% if match.placement? %>
        &middot;
        <span class="text-gray">Placement</span>
      <% elsif match.placement_log? %>
        &middot;
        <span class="text-gray">Placement log</span>
      <% end %>
      <% if map = match.map %>
        &middot;
        <span class="background-<%= map.slug %> px-1 rounded-1"><%= map %></span>
      <% end %>
      <% if (hero_count = match.heroes.count) > 0 %>
        &middot;
        <span><%= pluralize(hero_count, 'hero') %></span>
      <% end %>
      <% if (friend_count = match.friend_count) > 0 %>
        &middot;
        <%= pluralize(friend_count, 'friend') %>
      <% end %>
      <div class="note">
        <span class="tooltipped tooltipped-s" aria-label="<%= pretty_datetime match.created_at %>">
          <%= time_ago_in_words match.created_at %> ago
        </span>
        &middot;
        Season <%= match.season %>
      </div>
    </li>
  <% end %>
</ul>
