<h2 class="h2 mb-2 d-flex flex-justify-between flex-items-center">
  Seasons
  <button class="btn-link text-small text-normal js-toggle-details" data-target=".new-season" type="button">
    <span class="ion ion-plus"></span>
    Add a season
  </button>
</h2>

<div class="d-none border rounded-2 p-2 mt-2 mb-4 new-season">
  <h3 class="h4 mb-2">New season</h3>
  <%= form_for(new_season, url: admin_create_season_path, as: :create_season) do |form| %>
    <div class="form-group mt-0">
      <%= form.label :number, 'Number:', class: 'mr-2' %>
      <%= form.number_field :number, min: 0, step: 1, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :started_on, 'Start date:', class: 'mr-2' %>
      <%= form.date_field :started_on, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :ended_on, 'End date:', class: 'mr-2' %>
      <%= form.date_field :ended_on, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :max_rank, 'Max rank:', class: 'mr-2' %>
      <%= form.number_field :max_rank, min: 0, step: 1, class: 'form-control' %>
    </div>
    <button type="submit" class="btn">
      Create season
    </button>
  <% end %>
</div>

<ul class="list-style-none">
  <% seasons.each_with_index do |season, i| %>
    <li class="<%= 'border-top mt-1 pt-1' if i > 0 %>">
      <div class="d-flex flex-justify-between width-full">
        <strong>Season <%= season %></strong>
        <div>
          <span class="text-gray">
            <% if season.started_on %>
              <%= pretty_date season.started_on %>
            <% end %>
            <% if season.started_on && season.ended_on %>
              &mdash;
            <% end %>
            <% if season.ended_on %>
              <% unless season.started_on %>
                Ends
              <% end %>
              <%= pretty_date season.ended_on %>
            <% end %>
          </span>
          <button type="button" class="ml-2 btn-link js-toggle-details" data-target=".season-<%= season %>">
            <span class="ion-edit ion"></span>
          </button>
        </div>
      </div>
      <div class="d-none border rounded-2 px-2 pb-2 mt-2 season-<%= season %>">
        <%= form_for(season, url: admin_update_season_path, method: :put, as: :update_season) do |form| %>
          <input type="hidden" name="season_id" value="<%= season.id %>">
          <div class="form-group">
            <%= form.label :started_on, 'Start date:', class: 'mr-2' %>
            <%= form.date_field :started_on, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :ended_on, 'End date:', class: 'mr-2' %>
            <%= form.date_field :ended_on, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :max_rank, 'Max rank:', class: 'mr-2' %>
            <%= form.number_field :max_rank, min: 0, step: 1, class: 'form-control' %>
          </div>
          <button type="submit" class="btn">
            Update season <%= season %>
          </button>
        <% end %>

        <%= form_for(season, url: admin_destroy_season_path, method: :delete, html: { class: 'mt-2 pt-2 border-top text-right' }) do |form| %>
          <input type="hidden" name="season_id" value="<%= season.id %>">
          <button type="submit" class="btn-sm btn btn-danger" data-confirm="Are you sure you want to delete season <%= season %>?">
            Delete season <%= season %>
          </button>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
