<% content_for(:title, 'Admin Dashboard') %>

<div class="blankslate clearfix mb-4 p-3">
  <div class="col-md-3 float-left">
    <ul class="list-style-none">
      <li>
        <a class="text-gray-dark" href="<%= admin_users_path %>">
          <strong><%= number_with_delimiter @active_user_count %></strong>
          <%= 'active user'.pluralize(@active_user_count) %>
        </a>
      </li>
      <li>
        <a class="text-gray-dark" href="<%= admin_users_path %>">
          <strong><%= number_with_delimiter @user_count %></strong>
          <%= 'total user'.pluralize(@user_count) %>
        </a>
      </li>
      <li>
        <a class="text-gray-dark" href="<%= admin_users_path %>">
          <strong><%= number_with_delimiter @total_users_with_single_account %></strong>
          <%= 'user'.pluralize(@total_users_with_single_account) %> with single account
        </a>
      </li>
      <li>
        <strong><%= number_with_delimiter @match_count %></strong>
        <%= 'match'.pluralize(@match_count) %>
      </li>
    </ul>
  </div>
  <div class="col-md-3 float-left">
    <ul class="list-style-none">
      <li>
        <strong><%= number_with_delimiter @friend_count %></strong>
        <%= 'friend'.pluralize(@friend_count) %>
      </li>
      <li>
        <strong><%= number_with_delimiter @season_share_count %></strong>
        <%= 'shared season'.pluralize(@season_share_count) %>
      </li>
      <% if @top_season.present? %>
        <li>
          <a class="text-gray-dark" href="<%= admin_seasons_path %>">
            <strong>Season <%= @top_season[0] %>:</strong>
            <%= number_with_delimiter(@top_season[1]) %>
            <%= 'match'.pluralize(@top_season[1]) %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-3 float-left">
    <ul class="list-style-none">
      <li>
        <a class="text-gray-dark" href="<%= admin_accounts_path(with_matches: 1) %>">
          <strong><%= number_with_delimiter @total_accounts_with_matches %></strong>
          <%= 'account'.pluralize(@total_accounts_with_matches) %> with matches
        </a>
      </li>
      <li>
        <a class="text-gray-dark" href="<%= admin_accounts_path(without_matches: 1) %>">
          <strong><%= number_with_delimiter @total_accounts_without_matches %></strong>
          <%= 'account'.pluralize(@total_accounts_without_matches) %> without matches
        </a>
      </li>
      <li>
        <a class="text-gray-dark" href="<%= admin_accounts_path %>">
          <strong><%= number_with_delimiter @account_count %></strong>
          <%= 'account'.pluralize(@account_count) %>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-3 float-left">
    <ul class="list-style-none">
      <li>
        <a class="text-gray-dark" href="<%= admin_accounts_path(deletable: 1) %>">
          <strong><%= number_with_delimiter @total_deletable_accounts %></strong>
          deletable <%= 'account'.pluralize(@total_deletable_accounts) %>
        </a>
      </li>
      <li>
        <a class="text-gray-dark" href="<%= admin_accounts_path(without_avatar: 1) %>">
          <strong><%= number_with_delimiter @total_without_avatars %></strong>
          <%= 'account'.pluralize(@total_without_avatars) %> without
          <% if @total_without_avatars == 1 %>
            an avatar
          <% else %>
            avatars
          <% end %>
        </a>
      </li>
      <li>
        <a class="text-gray-dark" href="<%= admin_accounts_path %>">
          <strong><%= number_with_delimiter @total_accounts_near_match_limit %></strong>
          <%= 'account'.pluralize(@total_accounts_near_match_limit) %>
          near season match limit
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="clearfix mb-4">
  <div class="col-md-6 float-left">
    <div class="mr-4-md">
      <% if @latest_accounts.any? %>
        <%= render partial: 'admin/home/latest_accounts',
                   locals: { latest_accounts: @latest_accounts } %>
      <% end %>
      <% if @top_accounts.any? %>
        <%= render partial: 'admin/home/top_accounts',
                   locals: { top_accounts: @top_accounts } %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 float-left">
    <div class="ml-4-md">
      <% if @latest_matches.any? %>
        <%= render partial: 'admin/home/latest_matches', locals: { matches: @latest_matches } %>
      <% end %>
      <% if @latest_shared_seasons.any? %>
        <%= render partial: 'admin/home/latest_shared_seasons',
                   locals: { season_shares: @latest_shared_seasons } %>
      <% end %>
      <% if @top_avatar_urls.present? %>
        <h2 class="h2 mb-2">Top avatars</h2>
        <div class="d-flex">
          <% @top_avatar_urls.each do |avatar_url, account_count| %>
            <div class="mr-3 text-center">
              <a href="<%= avatar_url %>" class="d-block">
                <%= image_tag avatar_url, class: 'avatar', size: '50x50' %>
              </a>
              <div class="note">
                <%= number_with_delimiter account_count %>
                <%= 'account'.pluralize(account_count) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
