<% content_for(:title, 'Admin Dashboard') %>

<div class="blankslate clearfix mb-4 p-3">
  <div class="col-md-3 float-left">
    <ul class="list-style-none">
      <li>
        <strong><%= number_with_delimiter @active_user_count %></strong>
        <%= 'active user'.pluralize(@active_user_count) %>
      </li>
      <li>
        <strong><%= number_with_delimiter @user_count %></strong>
        <%= 'total user'.pluralize(@user_count) %>
      </li>
      <li>
        <strong><%= number_with_delimiter @account_count %></strong>
        <%= 'account'.pluralize(@account_count) %>
      </li>
    </ul>
  </div>
  <% if @top_rank || @average_rank || @bottom_rank %>
    <div class="col-md-3 float-left">
      <ul class="list-style-none">
        <% if @top_rank %>
          <li class="d-flex flex-items-start flex-justify-center">
            <strong class="d-inline-block mr-1">Top rank:</strong>
            <%= rank_image(@top_rank, classes: 'flex-shrink-0 rank-fit-height',
                           outer_classes: 'flex-shrink-0 mr-1') %>
            <%= @top_rank %>
          </li>
        <% end %>
        <% if @average_rank %>
          <li class="d-flex flex-items-start flex-justify-center">
            <strong class="d-inline-block mr-1">Average rank:</strong>
            <%= rank_image(@average_rank, classes: 'flex-shrink-0 rank-fit-height',
                           outer_classes: 'flex-shrink-0 mr-1') %>
            <%= @average_rank %>
          </li>
        <% end %>
        <% if @bottom_rank %>
          <li class="d-flex flex-items-start flex-justify-center">
            <strong class="d-inline-block mr-1">Bottom rank:</strong>
            <%= rank_image(@bottom_rank, classes: 'flex-shrink-0 rank-fit-height',
                           outer_classes: 'flex-shrink-0 mr-1') %>
            <%= @bottom_rank %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-3 float-left">
    <ul class="list-style-none">
      <li>
        <strong><%= number_with_delimiter @match_count %></strong>
        <%= 'match'.pluralize(@match_count) %>
      </li>
      <li>
        <strong><%= number_with_delimiter @friend_count %></strong>
        <%= 'friend'.pluralize(@friend_count) %>
      </li>
      <li>
        <strong><%= number_with_delimiter @season_share_count %></strong>
        <%= 'shared season'.pluralize(@season_share_count) %>
      </li>
    </ul>
  </div>
  <% if @top_season.present? %>
    <div class="col-md-3 float-left">
      <ul class="list-style-none">
        <li>
          <strong>Top season:</strong>
          Season <%= @top_season[0] %>
          <div class="note mt-0">
            <%= number_with_delimiter(@top_season[1]) %>
            <%= 'match'.pluralize(@top_season[1]) %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<div class="clearfix mb-4">
  <div class="col-md-6 float-left">
    <div class="mr-4-md">
      <% if @latest_accounts.any? %>
        <%= render partial: 'admin/home/latest_accounts',
                   locals: { latest_accounts: @latest_accounts } %>
      <% end %>
      <% if @top_accounts.any? %>
        <%= render partial: 'admin/home/top_accounts',
                   locals: { top_accounts: @top_accounts } %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 float-left">
    <div class="ml-4-md">
      <% if @latest_matches.any? %>
        <%= render partial: 'admin/home/latest_matches', locals: { matches: @latest_matches } %>
      <% end %>
      <% if @latest_shared_seasons.any? %>
        <%= render partial: 'admin/home/latest_shared_seasons',
                   locals: { season_shares: @latest_shared_seasons } %>
      <% end %>
      <% if @top_heroes.any? %>
        <h2 class="h2 mb-2">Most played heroes</h2>
        <div class="mb-4 pb-2 overflow-hidden">
          <%= render partial: 'accounts/heroes_list',
                     locals: { heroes: @top_heroes } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @userless_accounts.any? %>
  <div class="clearfix">
    <div class="col-md-6 mb-4 float-left">
      <h2 class="h2 mb-2">Accounts without users</h2>
      <ul class="list-style-none">
        <% @userless_accounts.each do |account| %>
          <li><%= account %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6 mb-4 float-left">
      <div class="border border-red ml-4-md p-3 rounded-2">
        <h2 class="h2 mb-2">Tie account to a user</h2>
        <%= form_tag admin_update_account_path do %>
          <div class="form-group mt-0">
            <label for="user_id">User:</label>
            <%= select_tag :user_id, options_for_select(@user_options), class: 'form-select', required: true %>
          </div>
          <div class="form-group">
            <label for="account_id">Account:</label>
            <%= select_tag :account_id, options_for_select(@userless_account_options), class: 'form-select', required: true %>
          </div>
          <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to connect the account to the user?">
            Connect account to user
          </button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
