<%= render partial: 'matches/match_errors', locals: { match: match } %>
<%= form.hidden_field :prior_match_id %>
<%= form.hidden_field :season %>
<input type="hidden" name="match[placement]" value="0">

<% if match.new_record? && match.season < Match::LATEST_SEASON %>
  <p class="p-3 mb-4 rounded-2 flash-error">
    You are logging a match for a past competitive season.
    Do you want to <a href="<%= matches_path(Match::LATEST_SEASON, match.oauth_account) %>#log-match">log a match in season <%= Match::LATEST_SEASON %></a>?
  </p>
<% end %>

<div class="clearfix">
  <div class="col-md-12 col-lg-6 float-left pr-4">
    <div class="d-flex flex-items-center flex-justify-between">
      <div>
        <div class="form-group mt-0 d-flex flex-items-center">
          <%= form.label :rank, 'New SR:', class: 'mr-2 sr-field-label' %>
          <%= form.number_field :rank, class: 'form-control sr-field', step: 1, min: 0, max: Match::MAX_RANK, placeholder: prior_match.try(:rank), autofocus: true %>
        </div>
        <%= render partial: 'matches/map_field', locals: { form: form, maps: maps, match: match } %>
      </div>
      <div>
        <%= render partial: 'matches/time_field', locals: { form: form, match: match } %>
        <%= render partial: 'matches/day_field', locals: { form: form, match: match } %>
      </div>
    </div>
    <%= render partial: 'matches/comment_field', locals: { form: form } %>
    <%= render partial: 'matches/friends',
               locals: { form: form, match: match, friends: friends, all_friends: all_friends } %>
    <%= render partial: 'matches/thrower_leaver_fields', locals: { form: form } %>
  </div>
  <div class="col-md-12 col-lg-6 float-left">
    <%= render partial: 'matches/hero_options', locals: { heroes: heroes, match: match } %>
  </div>
</div>
