<dl class="form-group mt-0">
  <dt>Heroes played:</dt>
  <dd class="d-flex flex-wrap flex-justify-between">
    <% ['DPS', 'hitscan', 'flanker'].each do |role| %>
      <div class="hero-box mb-4">
        <h5 class="h5 border-bottom pb-2 mb-2"><%= Hero.pretty_role(role) %></h5>
        <%= render partial: 'matches/hero_checkboxes',
                   locals: { heroes: heroes_by_role[role], match: match } %>
      </div>
    <% end %>
    <div class="hero-box mb-4">
      <h5 class="h5 border-bottom pb-2 mb-2"><%= Hero.pretty_role('tank') %></h5>
      <%= render partial: 'matches/hero_checkboxes',
                 locals: { heroes: heroes_by_role['tank'], match: match } %>
      <div class="mt-1">
        <%= render partial: 'matches/hero_checkboxes',
                   locals: { heroes: heroes_by_role['off-tank'], match: match } %>
      </div>
    </div>
    <% ['healer', 'defense'].each do |role| %>
      <div class="hero-box mb-4">
        <h5 class="h5 border-bottom pb-2 mb-2"><%= Hero.pretty_role(role) %></h5>
        <%= render partial: 'matches/hero_checkboxes',
                   locals: { heroes: heroes_by_role[role], match: match } %>
      </div>
    <% end %>
  </dd>
</dl>
