<%
  can_edit = signed_in? && account.user == current_user
  show_group_column = matches.any? { |match| match.group_members.any? }
  show_heroes_column = matches.any? { |match| match.heroes.any? }
  show_day_time_column = matches.any? { |match| match.day_of_week || match.time_of_day }
  show_comment_column = matches.any? { |match| match.comment.present? }
  show_thrower_leaver_column = matches.any? { |match| match.thrower? || match.leaver? }
%>

<% if matches.any? %>
  <table class="matches-table width-full">
    <thead>
      <tr>
        <th class="match-header hide-sm">#</th>
        <th class="match-header hide-sm">Win/Loss</th>
        <th class="match-header no-wrap">+/- SR</th>
        <th class="match-header">Rank</th>
        <th class="match-header hide-sm no-wrap">Streak</th>
        <th class="match-header">Map</th>
        <% if show_comment_column %>
          <th class="match-header hide-sm">Comment</th>
        <% end %>
        <% if show_day_time_column %>
          <th class="match-header hide-sm">Day/Time</th>
        <% end %>
        <% if show_heroes_column %>
          <th class="match-header hide-sm">Heroes</th>
        <% end %>
        <% if show_group_column %>
          <th class="match-header hide-sm">Group</th>
        <% end %>
        <% if show_thrower_leaver_column %>
          <th class="match-header hide-sm tooltipped tooltipped-n" aria-label="Throwers and leavers">😢</th>
        <% end %>
        <% if can_edit %>
          <th class="match-header"><span class="ion-gear-b ion"></span></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="js-filterable-matches">
      <% matches.each_with_index do |match, i| %>
        <tr id="match-row-<%= match.id %>" class="js-filterable-match js-thrower-leaver-<%= (match.thrower? || match.leaver?) ? 'y' : 'n' %> js-time-<%= match.day_of_week %>-<%= match.time_of_day %> js-group-size-<%= match.group_size %> js-result-<%= match.result %> <%= 'match-placement-log-row' if match.placement_log? %> <%= 'match-placement-row' if match.placement? %> <%= 'match-last-placement-row' if match.placement? && i == Match::TOTAL_PLACEMENT_MATCHES - 1 %>">
          <td class="match-cell hide-sm match-number-cell <%= 'match-placement-number-cell' if match.placement? %>">
            <%= match_number(i, match, matches) %>
          </td>
          <td class="match-cell hide-sm result-cell result-<%= match.result %>"><%= match_result_short(match) %></td>
          <td class="position-relative match-cell sr-change-cell" style="<%= match_rank_change_style(match, matches) %>">
            <% if (rank_change = match_rank_change(match, matches)).present? && rank_change != '--' %>
              <span class="darken-change darken-change-<%= match.result %>"></span>
            <% end %>
            <span class="position-relative"><%= rank_change %></span>
          </td>
          <td class="match-cell rank-cell <%= match_rank_class(match, placement_rank) %>">
            <div class="d-flex flex-items-center flex-justify-center">
              <% if show_match_rank_image?(match) %>
                <%= rank_image(match.rank, classes: 'd-inline-block mr-1 hide-sm') %>
              <% end %>
              <%= match.rank || '--' %>
            </div>
          </td>
          <td class="match-cell position-relative hide-sm <%= 'streak-empty' if !match.win? && !match.loss? %>" style="<%= match.win? ? match_win_streak_style(match, i, longest_win_streak) : match_loss_streak_style(match, i, longest_loss_streak) %>">
            <span class="darken-change darken-change-<%= match.result %>"></span>
            <span class="position-relative">
              <% if match.win? %>
                <%= match.win_streak %>
              <% elsif match.loss? %>
                <%= match.loss_streak %>
              <% end %>
            </span>
          </td>
          <td class="match-cell no-wrap <% if match.map %>background-<%= match.map.slug %><% end %>"><%= match.map %></td>
          <% if show_comment_column %>
            <td class="match-cell hide-sm comment-cell">
              <% if match.comment.present? %>
                <span class="tooltipped tooltipped-multiline tooltipped-e d-inline-block" aria-label="<%= match.comment.gsub(/"/, "'") %>">
                  <%= truncate match.comment, length: 25 %>
                </span>
              <% end %>
            </td>
          <% end %>
          <% if show_day_time_column %>
            <td class="match-cell text-center hide-sm time-cell no-wrap">
              <div class="tooltipped tooltipped-n" aria-label="<%= match.day_of_week.to_s.humanize %> <%= match.time_of_day.to_s.humanize %>">
                <%= day_of_week_emoji(match.day_of_week) %>
                <%= time_of_day_emoji(match.time_of_day) %>
              </div>
            </td>
          <% end %>
          <% if show_heroes_column %>
            <td class="match-cell hide-sm heroes-cell">
              <% match.heroes.sort_by(&:name).each do |hero| %>
                <span class="tooltipped tooltipped-n d-inline-block hero-portrait-container" aria-label="<%= hero.name %>">
                  <%= image_tag("heroes/#{hero.slug}.png", alt: hero.name, class: 'rounded-1 hero-portrait d-inline-block', width: 20, height: 20) %>
                </span>
              <% end %>
            </td>
          <% end %>
          <% if show_group_column %>
            <td class="match-cell hide-sm friends-cell">
              <%= match.group_member_names.join(', ') %>
            </td>
          <% end %>
          <% if show_thrower_leaver_column %>
            <td class="match-cell hide-sm throwers-leavers-cell">
              <% if match.thrower? %>
                <span class="Counter tooltipped tooltipped-n text-white bg-red" aria-label="<%= thrower_tooltip(match) %>">T</span>
              <% end %>
              <% if match.leaver? %>
                <span class="Counter tooltipped tooltipped-n text-white bg-red" aria-label="<%= leaver_tooltip(match) %>">L</span>
              <% end %>
            </td>
          <% end %>
          <% if can_edit %>
            <td class="match-cell options-cell">
              <a href="<%= match_path(season, account, match) %>" class="tooltipped tooltipped-w" aria-label="Edit">
                <span class="ion-edit ion"></span>
              </a>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif season.future? %>
  <div class="blankslate mb-4">
    Season <%= season %> has not started yet.
  </div>
<% else %>
  <div class="blankslate mb-4">
    <p>
      <%= account %>
      <% if @season.past? %>
        did not log
      <% else %>
        has not logged
      <% end %>
      any competitive matches in season <%= season %>.
    </p>

    <% if can_edit %>
      You can <a href="<%= import_path(season, account) %>">import them from a file</a>.
    <% end %>
  </div>
<% end %>
