<% if matches.any? %>
  <table class="matches-table width-full">
    <thead>
      <tr>
        <th class="match-header">#</th>
        <th class="match-header">Win/Loss</th>
        <th class="match-header no-wrap">+/- SR</th>
        <th class="match-header">Rank</th>
        <th class="match-header no-wrap">Streak</th>
        <th class="match-header">Map</th>
        <th class="match-header">Comment</th>
        <th class="match-header">Day/Time</th>
        <th class="match-header">Heroes</th>
        <th class="match-header">Group</th>
        <th class="match-header tooltipped tooltipped-n" aria-label="Throwers and leavers">😢</th>
        <th class="match-header"><span class="ion-gear-b ion"></span></th>
      </tr>
    </thead>
    <tbody>
      <% matches.each_with_index do |match, i| %>
        <tr class="<%= 'match-placement-log-row' if match.placement_log? %> <%= 'match-placement-row' if match.placement? %> <%= 'match-last-placement-row' if match.placement? && i == Match::TOTAL_PLACEMENT_MATCHES - 1 %>">
          <td class="match-cell match-number-cell">
            <%= match_number(i, match, matches) %>
          </td>
          <td class="match-cell result-cell result-<%= match.result %>"><%= match_result(match) %></td>
          <td class="match-cell sr-change-cell" style="<%= match_rank_change_style(match, matches) %>">
            <%= match_rank_change(match, matches) %>
          </td>
          <td class="match-cell rank-cell <%= match_rank_class(match, placement_rank) %>">
            <%= match.rank || '--' %>
          </td>
          <td class="match-cell <%= 'streak-empty' if !match.win? && !match.loss? %>" style="<%= match.win? ? match_win_streak_style(match, i, longest_win_streak) : match_loss_streak_style(match, i, longest_loss_streak) %>">
            <% if match.win? %>
              <%= match.win_streak %>
            <% elsif match.loss? %>
              <%= match.loss_streak %>
            <% end %>
          </td>
          <td class="match-cell no-wrap <% if match.map %>background-<%= match.map.slug %><% end %>"><%= match.map %></td>
          <td class="match-cell comment-cell">
            <% if match.comment.present? %>
              <span class="tooltipped tooltipped-multiline tooltipped-e d-inline-block" aria-label="<%= match.comment.gsub(/"/, "'") %>">
                <%= truncate match.comment, length: 25 %>
              </span>
            <% end %>
          </td>
          <td class="match-cell time-cell no-wrap">
            <div>
              <%= day_of_week_emoji(match.day_of_week) %>
              <%= match.day_of_week.to_s.humanize %>
            </div>
            <%= time_of_day_emoji(match.time_of_day) %>
            <%= match.time_of_day.to_s.humanize %>
          </td>
          <td class="match-cell heroes-cell">
            <% match.heroes.sort_by(&:name).each do |hero| %>
              <span class="tooltipped tooltipped-n d-inline-block hero-portrait-container" aria-label="<%= hero.name %>">
                <%= image_tag("heroes/#{hero.slug}.png", alt: hero.name, class: 'rounded-1 hero-portrait d-inline-block', width: 20, height: 20) %>
              </span>
            <% end %>
          </td>
          <td class="match-cell friends-cell">
            <%= match.friend_names.join(', ') %>
          </td>
          <td class="match-cell throwers-leavers-cell">
            <% if match.thrower? %>
              <span class="Counter tooltipped tooltipped-n text-white bg-red" aria-label="<%= thrower_tooltip(match) %>">T</span>
            <% end %>
            <% if match.leaver? %>
              <span class="Counter tooltipped tooltipped-n text-white bg-red" aria-label="<%= leaver_tooltip(match) %>">L</span>
            <% end %>
          </td>
          <td class="match-cell options-cell">
            <a href="<%= match_path(season, oauth_account, match) %>" class="tooltipped tooltipped-w" aria-label="Edit">
              <span class="ion-edit ion"></span>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="blankslate mb-4">
    <p>You have not logged any competitive matches in season <%= season %><% if oauth_accounts.size > 1 %> on <span class="text-bold"><%= oauth_account %></span><% end %>.</p>
    You can <a href="<%= import_path(season, oauth_account) %>">import them from a file</a>.
  </div>
<% end %>
