<%= render partial: 'matches/match_errors', locals: { match: match } %>
<%= form.hidden_field :prior_match_id %>
<%= form.hidden_field :season %>
<input type="hidden" name="match[placement]" value="1">

<% if show_season_warning_for?(match, season) %>
  <% active_season_number = Season.current_or_latest_number %>

  <p class="p-3 mb-4 rounded-2 flash-error">
    You are logging a match for a
    <% if season.past? %>
      past competitive season.
    <% else %>
      competitive season that hasn't started yet.
    <% end %>

    <% unless season.number == active_season_number %>
      Do you want to <a href="<%= matches_path(active_season_number, match.account) %>#log-placement-matches">log a match in season <%= active_season_number %></a>?
    <% end %>
  </p>
<% end %>

<div class="clearfix">
  <div class="col-md-12 col-lg-6 float-left pr-4">
    <% if match.last_placement? %>
      <div class="form-group mt-0 d-flex flex-items-center">
        <%= form.label :rank, 'Where did you place?', class: 'mr-2 sr-field-label' %>
        <%= form.number_field :rank, class: 'form-control sr-field', step: 1, min: 0, max: Match::MAX_RANK, autofocus: true %>
      </div>
    <% end %>
    <div class="form-group <%= 'mt-0' unless match.last_placement? %>">
      <%= form.label :result, 'What was the outcome of the placement match?', class: 'mr-2' %>
      <%= form.select :result, options_for_select(result_options, match.result), {}, { class: 'form-select' } %>
    </div>
    <%= render partial: 'matches/map_field', locals: { form: form, maps: maps, match: match } %>
    <div class="d-flex flex-wrap flex-justify-between">
      <%= render partial: 'matches/time_field', locals: { form: form, match: match } %>
      <%= render partial: 'matches/day_field', locals: { form: form, match: match } %>
    </div>
    <%= render partial: 'matches/friends',
               locals: { form: form, match: match, friends: friends, all_friends: all_friends,
                         selected_friend_names: selected_friend_names } %>
    <%= render partial: 'matches/thrower_leaver_fields', locals: { form: form } %>
    <%= render partial: 'matches/comment_field', locals: { form: form } %>
  </div>
  <div class="col-md-12 col-lg-6 float-left">
    <%= render partial: 'matches/hero_options',
               locals: { heroes_by_role: heroes_by_role, match: match,
                         selected_heroes: selected_heroes } %>
  </div>
</div>
