<%= render partial: 'matches/match_errors', locals: { match: match } %>
<%= form.hidden_field :prior_match_id %>
<%= form.hidden_field :season %>
<input type="hidden" name="match[placement]" value="0">
<div class="form-group mt-0 d-flex flex-items-center">
  <%= form.label :rank, 'Where did you place?', class: 'mr-2 sr-field-label' %>
  <%= form.number_field :rank, class: 'form-control sr-field', step: 1, min: 0, max: Match::MAX_RANK %>
</div>
