<div class="clearfix mb-4">
  <div class="col-6 float-left">
    <div data-url="<%= win_loss_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
  </div>
  <div class="col-6 float-left">
    <div data-url="<%= role_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
  </div>
</div>
<hr class="mb-4 pt-4">
<div data-url="<%= day_time_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
<hr class="mb-4 pt-4">
<div class="clearfix">
  <div class="col-6 float-left">
    <div data-url="<%= group_size_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
  </div>
  <div class="col-6 float-left">
    <div data-url="<%= thrower_leaver_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
  </div>
</div>
<hr class="mb-4 pt-4">
<div data-url="<%= group_member_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
<hr class="mb-4 pt-4">
<div data-url="<%= map_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
<hr class="mb-4 pt-4">
<div data-url="<%= streaks_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
<hr class="mb-4 pt-4">
<div data-url="<%= heroes_chart_path(@season, @oauth_account) %>" class="js-remote-chart"></div>
