<% content_for(:title, "#{@oauth_account} / Season #{@season} / Confirm wipe") %>

<% content_for(:breadcrumb) do %>
  <%= account_switcher(@oauth_account) %> / <%= season_switcher(@season) %>
  / Confirm wipe
<% end %>

<% if @match_count > 0 %>
  <p class="mb-4 p-3 h3 text-normal rounded-2 flash-warn">
    You have <strong><%= pluralize(@match_count, 'match') %></strong> in season
    <%= @season %>. Are you sure you want to delete them?
  </p>

  <%= form_tag matches_path(@season, @oauth_account), method: :delete do %>
    <button type="submit" class="btn btn-danger" data-confirm="Are you sure?">
      Yes, delete season <%= @season %>
    </button>
  <% end %>
<% else %>
  <p>You have no matches in season <%= @season %> &mdash; there's nothing to delete!</p>
<% end %>
