<% content_for(:title, "Season #{@match.season} / #{@match.account} / Edit #{'Placement' if @match.placement?} Match") %>

<% content_for(:breadcrumb) do %>
  Season <%= @match.season %> / <%= @match.account %> /
  Edit <%= 'Placement' if @match.placement? %> Match
<% end %>

<% if @match.persisted? && @match.prior_match && !@match.prior_match.placement? %>
  <p>
    <span class="text-bold text-<%= @match.win? ? "green" : @match.loss? ? "red" : "orange" %>">
      <%= @match.result.to_s.humanize %>
    </span>
    &middot; Previous SR: <%= @match.prior_match.rank %>
  </p>
<% end %>

<% if @match.placement_log? %>
  <%= form_for(@match, method: :put, url: match_form_action(@match), html: { id: 'edit-placement-log-match' }) do |f| %>
    <%= render partial: 'matches/placement_rank_form',
               locals: { form: f, match: @match, season: @season } %>
    <%= render partial: 'matches/additional_fields',
               locals: { match: @match, form: f } %>
    <button type="submit" class="btn btn-large btn-primary">
      Save Starting SR
    </button>
  <% end %>
<% elsif @match.placement? %>
  <%= form_for(@match, method: :put, url: match_form_action(@match), html: { id: 'edit-placement-match' }) do |f| %>
    <%= render partial: 'matches/placement_form',
               locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                         heroes_by_role: @heroes_by_role, friends: @friends,
                         all_friends: @all_friends, season: @season } %>
    <%= render partial: 'matches/additional_fields',
               locals: { match: @match, form: f } %>
    <button type="submit" class="btn btn-large btn-primary">
      Save Match
    </button>
  <% end %>
<% else %>
  <%= form_for(@match, method: :put, url: match_form_action(@match), html: { id: 'edit-match' }) do |f| %>
    <%= render partial: 'matches/form',
               locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                         heroes_by_role: @heroes_by_role, friends: @friends,
                         all_friends: @all_friends, season: @season } %>
    <%= render partial: 'matches/additional_fields',
               locals: { match: @match, form: f } %>
    <button type="submit" class="mr-2 btn btn-large btn-primary">
      Save Match
    </button>
    <span class="text-small text-gray">All fields optional except SR</span>
  <% end %>
<% end %>

<% if @match.persisted? %>
  <div class="mt-4 border-top pt-4 text-right">
    <%= form_for(@match, method: :delete, url: update_match_path(@match), html: { id: 'delete-match' }) do |f| %>
      <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to delete this match? This cannot be undone.">
        Delete match
      </button>
    <% end %>
  </div>
<% end %>
