<% content_for(:title, "Edit Match / Season #{@match.season} / #{@match.oauth_account}") %>

<% content_for(:breadcrumb) do %>
  Season <%= @match.season %> / <%= @match.oauth_account %> /
  Edit Match
<% end %>

<% if @match.prior_match && !@match.prior_match.placement? %>
  <p>
    <span class="text-bold text-<%= @match.win? ? "green" : @match.loss? ? "red" : "orange" %>">
      <%= @match.result.to_s.humanize %>
    </span>
    &middot; Previous SR: <%= @match.prior_match.rank %>
  </p>
<% end %>

<% if @match.placement_log? %>
  <%= form_for(@match, method: :put) do |f| %>
    <%= render partial: 'matches/placement_rank_form',
               locals: { form: f, match: @match } %>
    <button type="submit" class="btn btn-large btn-primary">
      Save Starting SR
    </button>
  <% end %>
<% elsif @match.oauth_account.finished_placements?(@match.season) %>
  <%= form_for(@match, method: :put) do |f| %>
    <%= render partial: 'matches/form',
               locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                         heroes: @heroes, friends: @friends } %>
    <div class="form-group">
      <%= f.label :season, 'Competitive season:', class: 'mr-2' %>
      <%= f.number_field :season, class: 'form-control season-field' %>
    </div>
    <button type="submit" class="btn btn-large btn-primary">
      Save Match
    </button>
  <% end %>
<% else %>
  <%= form_for(@match, method: :put) do |f| %>
    <%= render partial: 'matches/placement_form',
               locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                         heroes: @heroes, friends: @friends } %>
    <button type="submit" class="btn btn-large btn-primary">
      Save Match
    </button>
  <% end %>
<% end %>
