<% content_for(:title, "Season #{@season} / #{@oauth_account}") %>

<% content_for(:breadcrumb) do %>
  <%= account_switcher(@oauth_account) %> / <%= season_switcher(@season) %>
<% end %>

<div class="js-tab-container">
  <div class="tabnav">
    <%= render partial: 'matches/tabs',
               locals: { matches: @matches, oauth_account: @oauth_account, season: @season } %>
  </div>

  <div id="match-history" class="js-tab-contents">
    <%= render partial: 'matches/match_history',
               locals: { matches: @matches, placement_rank: @placement_rank,
                         longest_win_streak: @longest_win_streak,
                         longest_loss_streak: @longest_loss_streak,
                         season: @season, oauth_account: @oauth_account } %>
  </div>

  <% if @matches.any? %>
    <div id="export-csv" class="js-tab-contents d-none">
      <p>Export your season <%= @season %> match history as a CSV file.</p>
      <%= form_tag export_matches_path(@season, @oauth_account, format: :csv) do %>
        <button type="submit" class="btn btn-primary">
          Download season <%= @season %>
        </button>
      <% end %>
    </div>

    <div id="trends" class="js-tab-contents d-none">
      <%= render partial: 'matches/trends' %>
    </div>
  <% end %>

  <% if @oauth_account.finished_placements?(@season) %>
    <div id="log-match" class="js-tab-contents d-none">
      <%= form_for(@match) do |f| %>
        <%= render partial: 'matches/form',
                   locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                             heroes: @heroes } %>
        <button type="submit" class="btn btn-large btn-primary">
          Log Match
        </button>
      <% end %>
    </div>
  <% else %>
    <div id="log-placement-matches" class="js-tab-contents d-none">
      <%= form_for(@match) do |f| %>
        <%= render partial: 'matches/placement_form',
                   locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                             heroes: @heroes } %>
        <button type="submit" class="btn btn-large btn-primary">
          Log Match
        </button>
      <% end %>
    </div>

    <% unless @oauth_account.any_placements?(@season) %>
      <div id="log-placement-rank" class="js-tab-contents d-none">
        <%= form_for(@match) do |f| %>
          <%= render partial: 'matches/placement_rank_form',
                     locals: { form: f, match: @match } %>
          <button type="submit" class="btn btn-large btn-primary">
            Save Starting SR
          </button>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
