<% content_for(:title, "#{@oauth_account} / Season #{@season} / Matches") %>

<% if @can_edit %>
  <% content_for(:breadcrumb) do %>
    <div class="d-flex flex-items-center flex-justify-between">
      <div>
        <%= account_switcher(@oauth_account) %> / <%= season_switcher(@season) %>
      </div>
      <%= render partial: 'matches/season_share_menu',
                 locals: { oauth_account: @oauth_account, season: @season } %>
    </div>
  <% end %>

  <% content_for(:match_tabs) do %>
    <a href="#match-history" class="UnderlineNav-item selected js-tab">
      Matches
    </a>
    <% if @oauth_account.finished_placements?(@season) %>
      <a href="#log-match" class="UnderlineNav-item js-log-match-tab js-tab">
        Log a match
      </a>
    <% else %>
      <a href="#log-placement-matches" class="UnderlineNav-item js-tab">
        Log placement match
      </a>
      <% unless @oauth_account.any_placements?(@season) %>
        <a href="#log-placement-rank" class="UnderlineNav-item js-tab">
          Log placement SR
        </a>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div id="match-history" class="js-tab-contents tab-contents">
  <% if @past_season && @matches.any? %>
    <%= render partial: 'matches/tldr',
               locals: { matches: @matches, season: @season } %>
  <% end %>

  <%= render partial: 'matches/match_history',
             locals: { matches: @matches, placement_rank: @placement_rank,
                       longest_win_streak: @longest_win_streak,
                       longest_loss_streak: @longest_loss_streak,
                       season: @season, oauth_account: @oauth_account } %>

  <% if @can_edit %>
    <p class="mt-4 text-small">
      You can also
      <a href="<%= import_path(@season, @oauth_account) %>"><% if @matches.any? %>replace<% else %>import<% end %> your match history</a>
      for season <%= @season %> on <span class="text-bold"><%= @oauth_account %></span>
      if you already have it in a spreadsheet.
    </p>
  <% end %>
</div>

<% if @can_edit %>
  <% if @oauth_account.finished_placements?(@season) %>
    <div id="log-match" class="js-tab-contents tab-contents d-none">
      <%= form_for(@match) do |f| %>
        <%= render partial: 'matches/form',
                   locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                             heroes_by_role: @heroes_by_role, friends: @friends,
                             all_friends: @all_friends } %>
        <button type="submit" class="mr-2 btn btn-large btn-primary">
          Log Match
        </button>
        <span class="text-small text-gray">All fields optional except SR</span>
      <% end %>
    </div>
  <% else %>
    <div id="log-placement-matches" class="js-tab-contents tab-contents d-none">
      <%= form_for(@match) do |f| %>
        <%= render partial: 'matches/placement_form',
                   locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                             heroes_by_role: @heroes_by_role, friends: @friends,
                             all_friends: @all_friends } %>
        <button type="submit" class="btn btn-large btn-primary">
          Log Match
        </button>
      <% end %>
    </div>

    <% unless @oauth_account.any_placements?(@season) %>
      <div id="log-placement-rank" class="js-tab-contents tab-contents d-none">
        <%= form_for(@match) do |f| %>
          <%= render partial: 'matches/placement_rank_form',
                     locals: { form: f, match: @match } %>
          <button type="submit" class="btn btn-large btn-primary">
            Save Starting SR
          </button>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
