<h2 class="h2 mb-2">
  Season <%= @season %> / <%= @oauth_account %> /
  Match History
</h2>
<% if @matches.any? %>
  <table class="matches-table">
    <thead>
      <tr>
        <th>Game</th>
        <th>Win/Loss</th>
        <th>SR Change</th>
        <th>Rank</th>
        <th>Win Streak</th>
        <th>Lose Streak</th>
        <th>Map</th>
        <th>Comment</th>
        <th>Day of Week</th>
        <th>Time of Day</th>
      </tr>
    </thead>
    <tbody>
      <% @matches.each_with_index do |match, i| %>
        <tr>
          <td><%= match_number(i, @matches) %></td>
          <td><%= match_result(match) %></td>
          <td><%= match_rank_change(match, @matches) %></td>
          <td><%= match.rank %></td>
          <td><%= match_win_streak(match) %></td>
          <td><%= match_loss_streak(match) %></td>
          <td><%= match.map %></td>
          <td><%= match.comment %></td>
          <td><%= match.time_of_day.to_s.humanize %></td>
          <td><%= match.day_of_week.to_s.humanize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="blankslate mb-4">
    You have not logged any competitive matches this season.
  </div>
<% end %>

<div class="js-tab-container">
  <% unless @oauth_account.finished_placements?(@season) %>
    <div class="tabnav">
      <nav class="tabnav-tabs" aria-label="Foo bar">
        <a href="#log-placement-matches" class="tabnav-tab selected js-tab">Track placement matches individually</a>
        <a href="#log-placement-rank" class="tabnav-tab js-tab">Track only starting SR</a>
      </nav>
    </div>

    <div id="log-placement-matches" class="js-tab-contents">
      <%= form_for(@match) do |f| %>
        <%= render partial: 'matches/placement_form',
                   locals: { form: f, match: @match, maps: @maps, prior_match: @latest_match,
                             heroes: @heroes } %>
        <button type="submit" class="btn btn-large btn-primary">
          Log Match
        </button>
      <% end %>
    </div>

    <div id="log-placement-rank" class="js-tab-contents d-none">
      <%= form_for(@match) do |f| %>
        <%= render partial: 'matches/placement_rank_form',
                   locals: { form: f, match: @match } %>
        <button type="submit" class="btn btn-large btn-primary">
          Save Starting SR
        </button>
      <% end %>
    </div>
  <% end %>
</div>
