<% content_for(:title, 'Manage match visibility') %>

<% content_for(:breadcrumb) do %>
  <a href="<%= settings_path %>">Settings</a> / Manage match visibility
<% end %>

<div class="d-flex-md flex-wrap">
  <% @accounts.each do |account| %>
    <div class="Box p-3 mb-4-sm mr-4-md mb-4-md account-box">
      <h3 class="h3 mb-2 text-normal d-flex flex-items-center">
        <%= avatar_for(account, classes: 'mr-1') %>
        <%= account %>
      </h3>
      <% any_seasons_listed = false %>
      <ul class="list-style-none">
        <%
          shared_seasons = @shared_seasons_by_account_id[account.id] || []
          seasons_for_account = @seasons_for_account[account.id] || []
        %>
        <% @all_seasons.each do |season| %>
          <% if seasons_for_account.include?(season) %>
            <%
              any_seasons_listed = true
              is_shared = shared_seasons.include?(season)
              match_count = @match_counts[[account.id, season]]
            %>
            <li class="season-share-list-item d-flex flex-justify-between flex-items-center py-2 <%= 'text-bold' if is_shared %>">
              <div>
                <a href="<%= matches_path(season, account) %>" class="no-wrap">Season <%= season %></a>
                <div class="text-gray text-small text-normal">
                  <%= number_with_delimiter(match_count) %>
                  <%= 'match'.pluralize(match_count) %>
                </div>
              </div>
              <span class="text-gray">
                <% if is_shared %>
                  <span class="ion ion-eye mr-1 d-inline-block"></span>
                  <span class="text-small no-wrap">Publicly visible</span>
                <% else %>
                  <span class="ion ion-locked mr-1 d-inline-block"></span>
                  <span class="text-small no-wrap">Only visible to you</span>
                <% end %>
              </span>
            </li>
          <% end %>
        <% end %>
        <% unless any_seasons_listed %>
          <li>
            No seasons have any logged matches.
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
