<footer class="my-4 border-top text-small text-gray py-4">
  <div class="container pt-4 text-center">
    Built by Sarah
    <span class="d-inline-block mx-4">&middot;</span>
    <a href="<%= root_path %>">Get the app</a>
    <% if !signups_allowed? && !signed_in? %>
      <span class="d-inline-block mx-4">&middot;</span>
      <a href="<%= user_bnet_omniauth_authorize_path %>" class="tooltipped tooltipped-n" aria-label="For existing users of the web app">Sign in with Battle.net</a>
    <% end %>
    <span class="d-inline-block mx-4">&middot;</span>
    <a href="<%= about_path %>">About</a>
    <span class="d-inline-block mx-4">&middot;</span>
    <a href="<%= help_path %>">Help</a>
    <% unless signups_allowed? %>
      <span class="d-inline-block mx-4">&middot;</span>
      <a href="<%= app_help_url %>">Give feedback</a>
    <% end %>
    <% if show_admin_controls? %>
      <span class="d-inline-block mx-4">&middot;</span>
      <a href="<%= admin_path %>">Admin</a>
    <% end %>
  </div>
</footer>
