<div class="sticky-nav bg-white">
  <nav class="UnderlineNav flex-justify-between-md">
    <div class="UnderlineNav-body">
      <% if content_for?(:match_tabs) %>
        <%= yield :match_tabs %>

      <% elsif current_season_number && current_battletag_param %>
        <a href="<%= matches_path(current_season_number, current_battletag_param) %>" class="UnderlineNav-item <%= 'selected' if is_matches_page?(current_season_number, current_battletag_param) %>" role="tab">Matches</a>
      <% end %>

      <% if current_season_number && current_battletag_param %>
        <a href="<%= trends_path(current_season_number, current_battletag_param) %>" class="UnderlineNav-item <%= 'selected' if highlight_trends_tab? %>" role="tab">Trends</a>
      <% end %>

      <% if current_battletag_param %>
        <a class="UnderlineNav-item <%= 'selected' if is_profile_page? %>" role="tab" href="<%= profile_path(current_battletag_param) %>">Profile</a>
      <% end %>
    </div>

    <% if signed_in? %>
      <div class="d-flex-md hide-sm flex-items-center-md">
        <%= render partial: 'layouts/main_menu' %>
      </div>
    <% end %>
  </nav>
  <% if content_for?(:breadcrumb) %>
    <div class="mt-2 pb-2 border-bottom px-2 text-gray">
      <%= yield :breadcrumb %>
    </div>
  <% end %>
</div>
