<div class="sticky-nav bg-white">
  <nav class="UnderlineNav d-flex-md flex-justify-between-md">
    <div class="UnderlineNav-body">
      <%
        season = params[:season] || Season.current_or_latest_number
        battletag = current_battletag
      %>
      <% if content_for?(:match_tabs) %>
        <%= yield :match_tabs %>
      <% elsif season && battletag %>
        <a href="<%= matches_path(season, battletag) %>" class="UnderlineNav-item <%= 'selected' if is_matches_page?(season, battletag) %>" role="tab">Matches</a>
      <% end %>
      <% if season && battletag %>
        <a href="<%= trends_path(season, battletag) %>" class="UnderlineNav-item <%= 'selected' if is_trends_page?(season, battletag) %>" role="tab">Trends</a>
      <% end %>
      <% if signed_in? %>
        <a href="<%= export_path %>" class="UnderlineNav-item <%= 'selected' if is_page?('export', 'index') %>" role="tab">Export</a>
      <% end %>
    </div>

    <div class="UnderlineNav-body">
      <% if signed_in? %>
        <a class="UnderlineNav-item <%= 'selected' if is_settings_page? %>" role="tab" href="<%= settings_path %>">Settings</a>
        <%= form_tag sign_out_path, method: :delete do %>
          <button type="submit" class="UnderlineNav-item btn-link">
            Log out
          </button>
        <% end %>
      <% elsif !is_page?('login', 'index') %>
        <a class="UnderlineNav-item mr-0" role="tab" href="<%= user_bnet_omniauth_authorize_path %>">Log in with Battle.net</a>
      <% end %>
    </div>
  </nav>
  <% if content_for?(:breadcrumb) %>
    <div class="mt-2 pb-2 border-bottom px-2 text-gray">
      <%= yield :breadcrumb %>
    </div>
  <% end %>
</div>
