<div class="bg-blue box-shadow text-gray-light main-nav">
  <div class="container">
    <div class="d-flex py-3 flex-justify-between flex-items-center">
      <div class="d-flex flex-items-center">
        <h1 class="h1">
          <a class="text-white no-underline" href="<%= url_with(controller: 'matches', action: 'index') %>">Competiwatch</a>
          <% if content_for?(:breadcrumb) %>
            <span class="text-normal h4">
              / <%= yield :breadcrumb %>
            </span>
          <% end %>
        </h1>
      </div>
      <% if signed_in? %>
        <div class="dropdown js-menu-container d-inline-block">
          <button class="btn-link no-underline text-white p-2 dropdown-toggle js-menu-target" type="button" aria-expanded="false" aria-haspopup="true">
            <%= current_user %>
            <div class="dropdown-caret"></div>
          </button>

          <div class="dropdown-menu-content js-menu-content">
            <ul class="dropdown-menu dropdown-menu-se">
              <li>
                <a class="dropdown-item" href="<%= settings_path %>">Settings</a>
              </li>
              <li>
                <%= form_tag sign_out_path, method: :delete do %>
                  <button type="submit" class="dropdown-item width-full text-left btn-link">
                    Log out
                  </button>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
