<div class="bg-blue box-shadow js-top-nav text-gray-light main-nav">
  <div class="container">
    <div class="d-flex-md py-2 flex-justify-between-md flex-items-center-md">
      <h1 class="h1 d-flex flex-items-center">
        <a class="text-white no-underline d-inline-block mr-4-md" href="<%= home_page_path %>">Competiwatch</a>
      </h1>
      <% if signed_in? %>
        <div class="d-flex flex-items-center">
          <a class="text-white d-inline-block mr-4" href="<%= settings_path %>">Settings</a>
          <%= form_tag sign_out_path, method: :delete do %>
            <button type="submit" class="text-white btn-link">
              Log out
            </button>
          <% end %>
        </div>
      <% else %>
        <a class="text-white d-inline-block" href="<%= user_bnet_omniauth_authorize_path %>">Log in with Battle.net</a>
      <% end %>
    </div>
  </div>
</div>
<% if signed_in? %>
  <div class="border-bottom">
    <div class="container">
      <nav class="UnderlineNav border-bottom-0">
        <div class="UnderlineNav-body">
          <%
            season = params[:season] || Match::LATEST_SEASON
            battletag = params[:battletag] || current_user.default_oauth_account.try(:to_param) ||
              current_user.to_param
          %>
          <a href="<%= matches_path(season, battletag) %>" class="UnderlineNav-item <%= 'selected' if is_matches_page?(season, battletag) %>" role="tab">Matches</a>
          <a href="<%= trends_path(season, battletag) %>" class="UnderlineNav-item <%= 'selected' if is_trends_page?(season, battletag) %>" role="tab">Trends</a>
        </div>
      </nav>
    </div>
  </div>
<% end %>
<% if content_for?(:breadcrumb) %>
  <div class="container pt-2 text-gray">
    <%= yield :breadcrumb %>
  </div>
<% end %>
