<div class="sticky-nav bg-white">
  <nav class="UnderlineNav flex-justify-between-md">
    <div class="UnderlineNav-body">
      <%
        season = params[:season] || Season.current_or_latest_number
        battletag = current_battletag_param
      %>
      <% if content_for?(:match_tabs) %>
        <%= yield :match_tabs %>
      <% elsif season && battletag %>
        <a href="<%= matches_path(season, battletag) %>" class="UnderlineNav-item <%= 'selected' if is_matches_page?(season, battletag) %>" role="tab">Matches</a>
      <% end %>
      <% if season && battletag %>
        <a href="<%= trends_path(season, battletag) %>" class="UnderlineNav-item <%= 'selected' if is_trends_page?(season, battletag) %>" role="tab">Trends</a>
        <% if content_for?(:trend_tabs) %>
          <%= yield :trend_tabs %>
        <% end %>
      <% end %>
      <% if battletag %>
        <a class="UnderlineNav-item <%= 'selected' if is_profile_page? %>" role="tab" href="<%= profile_path(battletag) %>">Profile</a>
      <% end %>
    </div>

    <div class="d-flex flex-items-center">
      <% if signed_in? %>
        <div class="dropdown js-menu-container">
          <button class="btn-link no-underline text-bold p-0 dropdown-toggle js-menu-target" type="button" aria-expanded="false" aria-haspopup="true">
            <span class="text-gray d-inline-block mr-1 text-normal">Signed in as</span>
            <%= avatar_for(current_account) %>
            <%= current_account.name %>
            <div class="dropdown-caret"></div>
          </button>
          <div class="dropdown-menu-content js-menu-content">
            <ul class="dropdown-menu account-dropdown-menu dropdown-menu-sw">
              <a href="<%= export_path %>" class="dropdown-item <%= 'text-bold' if is_page?('export', 'index') %>">Export</a>
              <li>
                <a class="dropdown-item <%= 'text-bold' if is_settings_page? %>" role="tab" href="<%= settings_path %>">Settings</a>
              </li>
              <li>
                <%= form_tag sign_out_path, method: :delete do %>
                  <button type="submit" class="dropdown-item btn-link">
                    Log out
                  </button>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </nav>
  <% if content_for?(:breadcrumb) %>
    <div class="mt-2 pb-2 border-bottom px-2 text-gray">
      <%= yield :breadcrumb %>
    </div>
  <% end %>
</div>
