<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> - Competiwatch</title>
    <%= csrf_meta_tags %>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" media="screen" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="layout-container">
    <header class="bg-blue box-shadow js-top-nav text-gray-light main-nav">
      <div class="container">
        <div class="d-flex-md py-2 flex-justify-between-md flex-items-center-md">
          <h1 class="h1 lh-condensed">
            <span class="d-flex flex-items-center flex-justify-between">
              <a class="text-white no-underline d-inline-block mr-3" href="<%= root_path %>">Competiwatch</a>
              <button class="d-inline-block-sm btn-link no-underline text-bold dropdown-toggle js-menu-target text-white" data-target=".main-nav-menu-container" type="button" aria-expanded="false" aria-haspopup="true">
                <span class="ion-navicon-round ion"></span>
              </button>
            </span>
            <% if content_for(:title) && !is_page?('login', 'index') %>
              <span class="h3 lh-condensed text-normal d-inline-block text-white">
                <%= yield :title %>
              </span>
            <% end %>
          </h1>
          <% if !signed_in? && !is_page?('login', 'index') %>
            <a class="text-white" href="<%= user_bnet_omniauth_authorize_path %>">Log in with Battle.net</a>
          <% end %>
        </div>
      </div>
    </header>
    <div class="container layout-children-container mb-4">
      <% if signed_in? || !is_profile_page? %>
        <%= render partial: 'layouts/main_nav' %>
      <% end %>
      <% if alert.present? %>
        <p class="p-3 mt-4 rounded-2 flash-error"><%= alert %></p>
      <% end %>
      <% if flash[:error].present? %>
        <p class="p-3 mt-4 rounded-2 flash-error"><%= flash[:error] %></p>
      <% end %>
      <% if notice.present? %>
        <p class="p-3 mt-4 rounded-2 flash-success"><%= notice %></p>
      <% end %>
      <div class="mt-4">
        <%= yield %>
      </div>
    </div>
    <footer class="my-4 border-top text-small text-gray py-4">
      <div class="container pt-4 text-center">
        Built with &hearts; by Sarah
        <span class="d-inline-block mx-4">&middot;</span>
        <a href="https://github.com/cheshire137/competiwatch">View source</a>
        <span class="d-inline-block mx-4">&middot;</span>
        <a href="https://github.com/cheshire137/competiwatch/issues">Find a bug?</a>
        <% if signed_in? && current_account.admin? %>
          <span class="d-inline-block mx-4">&middot;</span>
          <a href="<%= admin_path %>">Admin</a>
        <% end %>
      </div>
    </footer>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
