<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> - Competiwatch</title>
    <%= csrf_meta_tags %>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" media="screen" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <% if alert.present? %>
      <p class="p-3 m-4 rounded-2 flash-error"><%= alert %></p>
    <% end %>
    <% if notice.present? %>
      <p class="p-3 m-4 rounded-2 flash-success"><%= notice %></p>
    <% end %>
    <header class="mb-4">
      <%= render partial: 'layouts/main_nav' %>
    </header>
    <div class="container my-4">
      <%= yield %>
    </div>
    <footer class="my-4 border-top text-small text-gray py-4">
      <div class="container pt-4 text-center">
        Built with &hearts; by Sarah
        <span class="d-inline-block mx-4">&middot;</span>
        <a href="https://github.com/cheshire137/competiwatch">View source</a>
        <span class="d-inline-block mx-4">&middot;</span>
        <a href="https://github.com/cheshire137/competiwatch/issues">Find a bug?</a>
      </div>
    </footer>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
