<% if accounts.size == 1 %>
  <%= selected_account %>
<% else %>
  <div class="dropdown js-menu-container d-inline-block <%= classes %>">
    <button class="btn-link no-underline text-bold p-0 dropdown-toggle js-menu-target" type="button" aria-expanded="false" aria-haspopup="true">
      <%= avatar_for(selected_account) %>
      <%= selected_account.name %>
      <div class="dropdown-caret"></div>
    </button>

    <div class="dropdown-menu-content js-menu-content">
      <ul class="dropdown-menu account-dropdown-menu dropdown-menu-se">
        <% accounts.each do |account| %>
          <li>
            <a class="dropdown-item <%= 'selected' if account == selected_account %>" href="<%= account_switcher_url(account) %>">
              <%= avatar_for(account) %>
              <%= account %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
