<% content_for(:title, 'Your Battle.net accounts') %>

<% content_for(:breadcrumb) do %>
  <a href="<%= settings_path %>">Settings</a> / Your Battle.net accounts
<% end %>

<div class="d-flex-md flex-justify-between-md">
  <div class="col-md-5 mb-4-sm">
    <h2 class="mb-2 mt-0 h3 text-normal">Your Accounts</h2>
    <ul class="list-style-none">
      <% @accounts.each_with_index do |account, i| %>
        <li<% if i > 0 %> class="border-top pt-2 mt-2"<% end %>>
          <div class="d-flex flex-justify-between flex-items-center">
            <div class="d-inline-block mr-4">
              <%= avatar_for(account) %>
              <%= account %>
            </div>
            <% if account.can_be_unlinked? && account != current_account %>
              <%= form_tag account_path(account), method: :delete, class: 'd-inline-block' do %>
                <button type="submit" class="text-small btn-link" data-confirm="Are you sure you want to unlink <%= account %> from this account? None of its matches will be deleted.">
                  Unlink
                </button>
              <% end %>
            <% end %>
          </div>
          <p class="note d-flex-md flex-justify-between-md">
            <span>
              <%= account.platform_name %> / <%= account.region_name %>
              <button class="btn-link text-small text-normal js-toggle-details" data-target=".edit-account-<%= account.id %>" type="button">
                <span class="ion ion-edit"></span>
                Edit
              </button>
            </span>
          </p>
          <div class="d-none my-2 edit-account-<%= account.id %>">
            <%= form_for(account, url: profile_path(account), method: :put, html: { class: 'border rounded-2 px-3 pb-3' }) do |f| %>
              <div class="form-group mb-0 mr-4 d-flex flex-items-center">
                <%= f.label :platform, 'Platform:', class: 'mr-2' %>
                <%= f.select :platform, options_for_select(platform_options, account.platform), {}, { class: 'form-select' } %>
              </div>
              <div class="form-group mb-0 mr-4 d-flex flex-items-center">
                <%= f.label :region, 'Region:', class: 'mr-2' %>
                <%= f.select :region, options_for_select(region_options, account.region), {}, { class: 'form-select' } %>
              </div>
              <button type="submit" class="btn mt-2">Save</button>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <% if @accounts.size > 1 %>
      <div class="note mt-4">
        You can unlink an account to require logging in separately.
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2 class="mb-2 mt-0 h3 text-normal">Connect another account</h2>
    <p>
      Be sure to <a target="_blank" rel="noopener noreferrer" href="https://us.battle.net/forums/en/?logout" class="text-bold">log out of Battle.net</a>
      if you are already signed in as one of the linked accounts on the left.
      Then:
    </p>
    <a href="<%= account_bnet_omniauth_authorize_path %>" class="btn-outline btn btn-large mb-2">
      Connect your Battle.net account
    </a>
  </div>
</div>
