<% content_for(:title, "#{@account} / Profile") %>

<% if @is_owner && accounts.size > 1 %>
  <% content_for(:breadcrumb) do %>
    Switch profile:
    <%= account_switcher(@account) %>
  <% end %>
<% end %>

<div class="clearfix d-flex-md flex-justify-around">
  <div class="col-md-5">
    <%= render partial: 'accounts/summary',
               locals: { account_heroes: @account_heroes, account: @account } %>
    <% if @account_heroes.any? %>
      <div class="mb-4 pb-2">
        <%= render partial: 'accounts/heroes_list',
                   locals: { account_heroes: @account_heroes } %>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 text-center">
    <h2 class="h2 text-normal mt-0 mb-2">Competitive seasons</h2>
    <ul class="list-style-none mb-4 border-bottom pb-4">
      <% if @match_count_by_season.empty? %>
        <li class="text-gray text-italic">
          <% if @is_owner %>
            No matches logged for <%= @account %>
          <% else %>
            <%= @account %> has not shared any seasons
          <% end %>
        </li>
      <% end %>
      <% @match_count_by_season.each do |season, match_count| %>
        <li class="mb-2">
          <a href="<%= matches_path(season, @account) %>">
            <% if @is_owner && @season_shares_by_season.size != @match_count_by_season.size %>
              <% if @season_shares_by_season.key?(season) %>
                <span class="mr-1 d-inline-block placeholder-icon"></span>
              <% else %>
                <span class="tooltipped tooltipped-w" aria-label="Only visible to you">
                  <span class="text-gray text-small ion ion-locked mr-1 d-inline-block"></span>
                </span>
              <% end %>
            <% end %>
            Season <%= season %>
            <span class="text-gray text-small d-inline-block ml-2">
              <%= number_with_delimiter match_count %>
              <%= 'match'.pluralize(match_count) %>
            </span>
          </a>
        </li>
      <% end %>
    </ul>
    <p class="note">
      <%= @account.platform_name %> / <%= @account.region_name %>
      <% if @is_owner %>
        <a href="<%= accounts_path %>" class="d-inline-block ml-2">
          <span class="ion ion-edit"></span>
          Edit
        </a>
      <% end %>
    </p>
  </div>
</div>

<p class="mt-4 border-top pt-4 text-center">
  <a class="d-inline-block mr-4" href="<%= @account.overbuff_url %>" target="_blank" rel="noopener noreferrer">
    <span class="ion ion-link text-gray mr-1"></span>
    Overbuff profile
  </a>
  <a class="d-inline-block mr-4" href="<%= @account.master_overwatch_url %>" target="_blank" rel="noopener noreferrer">
    <span class="ion ion-link text-gray mr-1"></span>
    Master Overwatch profile
  </a>
  <a href="<%= @account.play_overwatch_url %>" target="_blank" rel="noopener noreferrer">
    <span class="ion ion-link text-gray mr-1"></span>
    PlayOverwatch profile
  </a>
</p>
